/* style.scss */
/* color variables */
/* button color variables */
/* size variables */
/* mixins */
/* styles */
@font-face {
  font-family: "Cheeseburger";
  src: url("CHEESEBU.ttf");
}
/* line 92, mobilestyle.scss */
body {
  font: 12px arial, helvetica, sans-serif;
  color: #323452;
  background-color: #f0e6d7;
  background: url("../img/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  margin: 0px;
  top: 0px;
  padding-top: 0px;
  position: absolute;
  width: 100%;
  max-width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/* line 112, mobilestyle.scss */
html {
  overflow-x: hidden;
  width: 280px;
}

/* line 117, mobilestyle.scss */
a {
  color: #323452;
  font-weight: normal;
  text-decoration: none;
}
/* line 121, mobilestyle.scss */
a:active {
  color: #323452;
}
/* line 122, mobilestyle.scss */
a:hover {
  color: #323452;
  text-decoration: underline;
}
/* line 126, mobilestyle.scss */
a:link {
  color: #323452;
}
/* line 127, mobilestyle.scss */
a:visited {
  color: #323452;
}
/* line 128, mobilestyle.scss */
a img {
  border: none;
}

/* line 133, mobilestyle.scss */
#bottombar {
  position: relative;
  top: 16px;
  left: 0px;
  min-height: 16px;
  width: 280px;
  display: inline-block;
  opacity: 1;
  padding: 0px;
  text-align: center;
  margin-bottom: 8px;
  background: rgba(240, 230, 215, 0.8) none repeat scroll 0 0;
  padding: 0px;
  border-radius: 15px;
  display: block;
  opacity: 1;
  z-index: 1;
}

/* line 150, mobilestyle.scss */
#bottombarcontent {
  position: relative;
  top: 0px;
  width: 280px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  margin-bottom: 2px;
  display: inline-block;
  opacity: 1;
  padding: 0px;
}

/* line 162, mobilestyle.scss */
#topnav {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 24px;
  margin: 0px;
  background-color: #323452;
  display: inline-block;
  opacity: 1;
  padding: 0px;
  z-index: 10;
}

/* line 174, mobilestyle.scss */
#topnavtext {
  color: #f0e6d7;
}
/* line 176, mobilestyle.scss */
#topnavtext a {
  color: #f0e6d7;
}

/* line 179, mobilestyle.scss */
#topnavcontent {
  position: relative;
  top: 0px;
  width: 280px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  margin-bottom: 2px;
  display: inline-block;
  opacity: 1;
  padding: 0px;
  display: block;
}

/* line 192, mobilestyle.scss */
#content {
  position: relative;
  top: 0px;
  width: 280px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  opacity: 1;
  padding: 0px;
  display: block;
}

/* line 203, mobilestyle.scss */
#toparea {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 280px;
  min-height: 64px;
  display: inline-block;
  opacity: 1;
  padding: 0px;
}

/* line 212, mobilestyle.scss */
#topbar {
  position: relative;
  top: 0px;
  left: 96px;
  min-height: 88px;
  width: 184px;
  display: inline-block;
  opacity: 1;
  padding: 0px;
  background: rgba(240, 230, 215, 0.8) none repeat scroll 0 0;
  padding: 0;
  border-radius: 15px;
  display: block;
  opacity: 1;
  z-index: 2;
  color: #323452;
  text-align: left;
}

/* line 229, mobilestyle.scss */
#toplogo {
  position: absolute;
  top: 0px;
  left: 0px;
  min-height: 88px;
  width: 88px;
  display: inline-block;
  opacity: 1;
  padding: 0px;
  position: relative;
}

/* line 239, mobilestyle.scss */
#topcontent {
  position: absolute;
  top: 32px;
  left: 0px;
  min-height: 88px;
  width: 88px;
  display: inline-block;
  opacity: 1;
  padding: 0px;
}

/* line 248, mobilestyle.scss */
#socialmenu {
  /*
  position: absolute;
  @include top(1,$gutter-width + $margin-top);
  @include left(16);
  @include height(3, 0);
  @include width(3, 0);
  @include container();
  */
  float: right;
  text-align: right;
}

/* line 261, mobilestyle.scss */
#toplogin {
  position: absolute;
  top: 0px;
  left: 660px;
  width: 320px;
  max-width: 320px;
  height: 150px;
  max-height: 150px;
  display: inline-block;
  opacity: 1;
  padding: 0px;
}

/* line 272, mobilestyle.scss */
#topform {
  position: absolute;
  top: 10px;
  width: 300px;
  height: 130px;
}

/* line 279, mobilestyle.scss */
#mainarea {
  position: relative;
  top: 72px;
  left: 0px;
  width: 960px;
}

/* line 286, mobilestyle.scss */
#mainleft {
  position: relative;
  background: rgba(240, 230, 215, 0.8) none repeat scroll 0 0;
  top: 8px;
  width: 280px;
  padding: 0;
  border-radius: 15px;
  display: block;
  opacity: 1;
  z-index: 2;
  color: #323452;
  text-align: left;
}

/* line 300, mobilestyle.scss */
#mainleftcontainer {
  position: absolute;
  top: 120px;
  left: 0px;
  width: 280px;
  padding: 0;
  display: block;
  opacity: 1;
  z-index: 1;
}

/* line 312, mobilestyle.scss */
#leftrestaurantmenu a {
  color: #323452;
  font-weight: normal;
  text-decoration: none;
}
/* line 316, mobilestyle.scss */
#leftrestaurantmenu a:active {
  color: #323452;
}
/* line 317, mobilestyle.scss */
#leftrestaurantmenu a:hover {
  color: #323452;
  text-decoration: underline;
}
/* line 321, mobilestyle.scss */
#leftrestaurantmenu a:link {
  color: #323452;
}
/* line 322, mobilestyle.scss */
#leftrestaurantmenu a:visited {
  color: #323452;
}

/* line 326, mobilestyle.scss */
#maincontainer {
  position: absolute;
  top: 80px;
  left: 72px;
  min-height: 112px;
  width: 304px;
  display: inline-block;
  opacity: 1;
  padding: 0px;
  padding-bottom: 1px;
}

/* line 336, mobilestyle.scss */
#mainbody {
  position: relative;
  background: rgba(240, 230, 215, 0.8) none repeat scroll 0 0;
  top: 8px;
  left: 0px;
  min-height: 102px;
  width: 294px;
  padding: 5px;
  border-radius: 15px;
  display: block;
  opacity: 1;
  z-index: 1;
  position: relative;
  margin-bottom: 8px;
}

/* line 342, mobilestyle.scss */
#introtopbar {
  position: relative;
  background: rgba(240, 230, 215, 0.8) none repeat scroll 0 0;
  top: 8px;
  left: 72px;
  min-height: 54px;
  width: 294px;
  padding: 5px;
  border-radius: 15px;
  display: block;
  opacity: 1;
  z-index: 1;
}

/* line 346, mobilestyle.scss */
#topnavtext {
  display: inline-block;
  font-size: 15px;
  width: 184px;
}

/* line 352, mobilestyle.scss */
#topbartable {
  min-height: 54px;
  width: 100%;
  font-size: 15px;
  margin: 0px;
}
/* line 357, mobilestyle.scss */
#topbartable td.logo {
  width: 0%;
}
/* line 359, mobilestyle.scss */
#topbartable td.logo img {
  max-height: 49px;
}
/* line 363, mobilestyle.scss */
#topbartable td.title {
  text-align: center;
  width: 60%;
  font-size: 21.6px;
}
/* line 368, mobilestyle.scss */
#topbartable td.center {
  text-align: center;
  width: 30%;
}
/* line 372, mobilestyle.scss */
#topbartable td.hours {
  text-align: center;
  width: 40%;
  font-size: 9px;
}
/* line 377, mobilestyle.scss */
#topbartable h3 {
  margin: 0px;
}

/* line 382, mobilestyle.scss */
.alert {
  position: relative;
  background-color: rgba(255, 58, 0, 0.7);
  padding: 6px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  border-radius: 15px;
  opacity: 1;
  z-index: 2;
}

/* line 394, mobilestyle.scss */
#registrationtable {
  width: 280px;
  border-spacing: 5px;
}

/* line 398, mobilestyle.scss */
#registrationtable th.right, td.right {
  text-align: right;
  width: 100px;
}

/* line 402, mobilestyle.scss */
#registrationtable th.center, td.center {
  text-align: center;
  width: 100px;
}

/* line 406, mobilestyle.scss */
#registrationtable th.left, td.left {
  text-align: left;
  width: 100px;
}

/* line 410, mobilestyle.scss */
#registrationtable th.test, td.test {
  text-align: center !important;
  color: #FF3A00;
  background: #323452 none repeat scroll 0 0;
  border-radius: 10px;
  width: 100px;
}
/* line 416, mobilestyle.scss */
#registrationtable th.test a, td.test a {
  color: #FF3A00;
  font-weight: normal;
  text-decoration: none;
}
/* line 420, mobilestyle.scss */
#registrationtable th.test a:active, td.test a:active {
  color: #FF3A00;
}
/* line 421, mobilestyle.scss */
#registrationtable th.test a:hover, td.test a:hover {
  color: #FF3A00;
  text-decoration: underline;
}
/* line 425, mobilestyle.scss */
#registrationtable th.test a:link, td.test a:link {
  color: #FF3A00;
}
/* line 426, mobilestyle.scss */
#registrationtable th.test a:visited, td.test a:visited {
  color: #FF3A00;
}

/* line 429, mobilestyle.scss */
#registrationtable th.optional, td.optional {
  text-align: center !important;
  color: #1F2033;
  width: 100px;
}

/* line 434, mobilestyle.scss */
#registrationtable input[type="text"] {
  width: 95%;
  height: 140%;
}

/* line 438, mobilestyle.scss */
#registrationtable input[type="password"] {
  width: 95%;
  height: 140%;
}

/* line 442, mobilestyle.scss */
#registrationtable input[type="number"] {
  width: 95%;
  height: 140%;
}

/* line 446, mobilestyle.scss */
#registrationtable input[type="email"] {
  width: 95%;
  height: 140%;
}

/* line 450, mobilestyle.scss */
#registrationtable input[type="tel"] {
  width: 95%;
  height: 140%;
}

/* line 454, mobilestyle.scss */
#registrationtable select[type="text"] {
  width: 95%;
  height: 140%;
}

/* line 459, mobilestyle.scss */
#loginbutton {
  background-color: #8BD45A;
  color: #f0e6d7;
  font-size: 9px;
  box-shadow: 2px 2px 2px;
  border-style: none;
  cursor: pointer;
}

/* line 468, mobilestyle.scss */
#stylebutton {
  background-color: #323452;
  color: #FF3A00;
  font-size: 12px;
  box-shadow: 3px 3px 2px;
  border-style: none;
  cursor: pointer;
}

/* line 477, mobilestyle.scss */
#stylebutton[disabled] {
  background-color: #6B6D9C;
  color: #FF8C6B;
  font-size: 12px;
  box-shadow: 3px 3px 2px;
  border-style: none;
}

/* line 485, mobilestyle.scss */
#registerbutton {
  background-color: #323452;
  color: #FF3A00;
  font-size: 12px;
  width: 100px;
  box-shadow: 3px 3px 2px;
  border-style: none;
  cursor: pointer;
}

/* line 495, mobilestyle.scss */
#registerbutton[disabled] {
  background-color: #6B6D9C;
  color: #FF8C6B;
  font-size: 12px;
  width: 100px;
  box-shadow: 3px 3px 2px;
  border-style: none;
}

/* line 504, mobilestyle.scss */
hr {
  display: block;
  height: 1px;
  width: 90%;
  border: 0;
  border-top: 2px solid #003F1F;
  margin: 1em 0;
  padding: 0;
}

/* line 514, mobilestyle.scss */
p.title {
  font-size: 18px;
  margin-top: 3px;
  margin-bottom: 3px;
}

/* line 519, mobilestyle.scss */
p.title2 {
  font-size: 15px;
  margin-top: 3px;
  margin-bottom: 3px;
}

/* line 526, mobilestyle.scss */
#ordertable tr {
  height: 16px;
}
/* line 529, mobilestyle.scss */
#ordertable td {
  width: 64px;
  text-align: left;
}

/* line 535, mobilestyle.scss */
#leftorder {
  text-align: center;
}
/* line 537, mobilestyle.scss */
#leftorder a {
  font-size: 9px;
  vertical-align: text-top;
}
/* line 541, mobilestyle.scss */
#leftorder a.orderinfo {
  font-size: 12px;
  vertical-align: text-top;
}

/* line 547, mobilestyle.scss */
#menutable {
  display: inline-table;
  width: 94%;
}
/* line 550, mobilestyle.scss */
#menutable tr {
  height: 8px;
}
/* line 553, mobilestyle.scss */
#menutable td {
  text-align: center;
  font-size: 12px;
}
/* line 557, mobilestyle.scss */
#menutable th {
  text-align: center;
  font-size: 12px;
}
/* line 561, mobilestyle.scss */
#menutable td.firstcol {
  text-align: left;
  font-size: 12px;
}
/* line 565, mobilestyle.scss */
#menutable th.firstcol {
  text-align: left;
  font-size: 12px;
}
/* line 569, mobilestyle.scss */
#menutable th.category {
  text-align: left;
  font-size: 18px;
}
/* line 573, mobilestyle.scss */
#menutable th.subcategory {
  text-align: left;
  font-size: 15px;
}
/* line 577, mobilestyle.scss */
#menutable td.notes {
  text-align: left;
  font-size: 12px;
  font-style: italic;
}
/* line 582, mobilestyle.scss */
#menutable td.allcol {
  text-align: left;
  column-span: all;
  -webkit-column-span: all;
}
/* line 587, mobilestyle.scss */
#menutable input[type="text"].size {
  width: 28px;
}
/* line 591, mobilestyle.scss */
#menutable input[type="text"].description {
  width: 100%;
}
/* line 595, mobilestyle.scss */
#menutable input[type="number"] {
  width: 35px;
}

/* line 601, mobilestyle.scss */
#itemtable {
  display: inline-table;
  width: 94%;
}
/* line 604, mobilestyle.scss */
#itemtable tr {
  height: 8px;
}
/* line 607, mobilestyle.scss */
#itemtable td {
  text-align: left;
  font-size: 12px;
}
/* line 611, mobilestyle.scss */
#itemtable th {
  text-align: left;
  font-size: 12px;
}
/* line 615, mobilestyle.scss */
#itemtable td.firstcol {
  text-align: left;
  font-size: 12px;
  width: 100px;
}
/* line 620, mobilestyle.scss */
#itemtable th.firstcol {
  text-align: left;
  font-size: 12px;
  width: 100px;
}
/* line 625, mobilestyle.scss */
#itemtable th.category {
  text-align: left;
  font-size: 18px;
}
/* line 629, mobilestyle.scss */
#itemtable th.subcategory {
  text-align: left;
  font-size: 15px;
}
/* line 633, mobilestyle.scss */
#itemtable td.notes {
  text-align: left;
  font-size: 12px;
  font-style: italic;
}
/* line 638, mobilestyle.scss */
#itemtable td.submit {
  text-align: center;
}
/* line 641, mobilestyle.scss */
#itemtable td.allcol {
  text-align: left;
  column-span: all;
  -webkit-column-span: all;
}
/* line 646, mobilestyle.scss */
#itemtable input[type="text"].size {
  width: 28px;
}
/* line 650, mobilestyle.scss */
#itemtable input[type="text"].description {
  width: 100%;
}
/* line 654, mobilestyle.scss */
#itemtable input[type="number"] {
  width: 35px;
}
/* line 658, mobilestyle.scss */
#itemtable input[type="submit"] {
  align: center;
}

/* line 664, mobilestyle.scss */
#fullorder {
  width: 100%;
}
/* line 666, mobilestyle.scss */
#fullorder tr, #fullorder td, #fullorder th {
  text-align: left;
}
/* line 669, mobilestyle.scss */
#fullorder tr.money, #fullorder td.money {
  text-align: right;
}
/* line 672, mobilestyle.scss */
#fullorder tr.center, #fullorder td.center {
  text-align: center;
}
/* line 675, mobilestyle.scss */
#fullorder select {
  width: 90%;
}
/* line 678, mobilestyle.scss */
#fullorder input[type="text"] {
  width: 90%;
}
/* line 681, mobilestyle.scss */
#fullorder input[type="email"] {
  width: 90%;
}
/* line 684, mobilestyle.scss */
#fullorder input[type="number"] {
  width: 90%;
}
/* line 687, mobilestyle.scss */
#fullorder input[type="tel"] {
  width: 90%;
}
/* line 690, mobilestyle.scss */
#fullorder input[type="month"] {
  width: 90%;
}

/* line 695, mobilestyle.scss */
#orderinfo {
  width: 100%;
}
/* line 697, mobilestyle.scss */
#orderinfo tr, #orderinfo td, #orderinfo th {
  text-align: center;
}
/* line 700, mobilestyle.scss */
#orderinfo tr.money, #orderinfo td.money {
  text-align: right;
}
/* line 703, mobilestyle.scss */
#orderinfo tr.center, #orderinfo td.center {
  text-align: center;
}
/* line 706, mobilestyle.scss */
#orderinfo select {
  width: 90%;
}
/* line 709, mobilestyle.scss */
#orderinfo input[type="text"] {
  width: 90%;
}
/* line 712, mobilestyle.scss */
#orderinfo input[type="email"] {
  width: 90%;
}
/* line 715, mobilestyle.scss */
#orderinfo input[type="number"] {
  width: 90%;
}
/* line 718, mobilestyle.scss */
#orderinfo input[type="tel"] {
  width: 90%;
}
/* line 721, mobilestyle.scss */
#orderinfo input[type="month"] {
  width: 90%;
}

/* line 726, mobilestyle.scss */
#quanitynumber {
  width: 100%;
}

/* line 730, mobilestyle.scss */
table {
  font-size: 12px;
}

/* line 735, mobilestyle.scss */
body.dragging, body.dragging * {
  cursor: move !important;
}

/* line 739, mobilestyle.scss */
.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

/* line 745, mobilestyle.scss */
ol.example li.placeholder {
  position: relative;
  /** More li styles **/
}

/* line 749, mobilestyle.scss */
ol.example li.placeholder:before {
  position: absolute;
  /** Define arrowhead **/
}

/* line 754, mobilestyle.scss */
[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../img/glyphicons-halflings-orange.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
  cursor: pointer;
  cursor: hand;
}

/* line 70, ../../vendor/ruby/1.8/bundler/gems/sass-twitter-bootstrap-06795315e047/lib/bootstrap/_mixins.scss */
/* line 767, mobilestyle.scss */
[class^="icon-"]:last-child,
[class*=" icon-"]:last-child {
  *margin-left: 0;
}

/* line 771, mobilestyle.scss */
.icon-cancel {
  background-position: -312px 0px;
}

/* line 774, mobilestyle.scss */
.icon-pencil {
  background-position: -0px -72px;
}

/* line 777, mobilestyle.scss */
.icon-move {
  background-position: -168px -72px;
}

/* line 780, mobilestyle.scss */
.icon-move-list {
  background-position: -168px -72px;
}

/* line 783, mobilestyle.scss */
.icon-move-category {
  background-position: -168px -72px;
}

/* line 786, mobilestyle.scss */
.icon-move-subcategory {
  background-position: -168px -72px;
}

/* line 789, mobilestyle.scss */
.icon-move-item {
  background-position: -168px -72px;
}

/* line 792, mobilestyle.scss */
.icon-move-group {
  background-position: -168px -72px;
}

/* line 795, mobilestyle.scss */
.icon-move-option {
  background-position: -168px -72px;
}

/* line 798, mobilestyle.scss */
ol {
  list-style-type: none;
}

/* line 34, application.css.sass */
/* line 801, mobilestyle.scss */
ol i.icon-move {
  cursor: pointer;
}

/* line 36, application.css.sass */
/* line 804, mobilestyle.scss */
ol li.highlight {
  background: #333333;
  color: #999999;
}

/* line 39, application.css.sass */
/* line 808, mobilestyle.scss */
ol li.highlight i.icon-move {
  background-image: url("../img/glyphicons-halflings-white.png");
}

/* line 812, mobilestyle.scss */
ol {
  margin: 0 0 0 0;
  text-indent: 0px;
  margin-left: 0px;
  padding-left: 0px;
}

/* line 12, jquery-sortable.css.sass */
  /*
  ol li {
	font-size: .8*$font-size;
	font-weight: normal;
	text-indent:0px;
    display: block;
    margin: 5px;
    padding: 0px;
    border: solid 2px $dark-color;
    border-radius: $radius-width;
	color: $dark-color;
    border-color: $dark-color; }
  */
/* line 19, jquery-sortable.css.sass */
/* line 832, mobilestyle.scss */
ol.category li {
  font-size: 9.6px;
  font-weight: normal;
  text-indent: 0px;
  display: block;
  margin: 5px;
  padding: 0px;
  border: solid 2px #323452;
  border-radius: 15px;
  color: #323452;
  border-color: #323452;
}

/* line 835, mobilestyle.scss */
ol.category-pallet li {
  font-size: 9.6px;
  font-weight: normal;
  text-indent: 0px;
  display: block;
  margin: 5px;
  padding: 0px;
  border: solid 2px #323452;
  border-radius: 15px;
  color: #323452;
  border-color: #323452;
}

/* line 838, mobilestyle.scss */
ol.subcategory li {
  font-size: 9.6px;
  font-weight: normal;
  text-indent: 0px;
  display: block;
  margin: 5px;
  padding: 0px;
  border: solid 2px #323452;
  border-radius: 15px;
  color: #323452;
  border-color: #8BD45A;
}

/* line 841, mobilestyle.scss */
ol.subcategory-pallet li {
  font-size: 9.6px;
  font-weight: normal;
  text-indent: 0px;
  display: block;
  margin: 5px;
  padding: 0px;
  border: solid 2px #323452;
  border-radius: 15px;
  color: #323452;
  border-color: #8BD45A;
}

/* line 844, mobilestyle.scss */
ol.item li {
  font-size: 9.6px;
  font-weight: normal;
  text-indent: 0px;
  display: block;
  margin: 5px;
  padding: 0px;
  border: solid 2px #323452;
  border-radius: 15px;
  color: #323452;
  border-color: #6C00B5;
}

/* line 847, mobilestyle.scss */
ol.item-pallet li {
  font-size: 9.6px;
  font-weight: normal;
  text-indent: 0px;
  display: block;
  margin: 5px;
  padding: 0px;
  border: solid 2px #323452;
  border-radius: 15px;
  color: #323452;
  border-color: #6C00B5;
}

/* line 850, mobilestyle.scss */
ol.group li {
  font-size: 9.6px;
  font-weight: normal;
  text-indent: 0px;
  display: block;
  margin: 5px;
  padding: 0px;
  border: solid 2px #323452;
  border-radius: 15px;
  color: #323452;
  border-color: #8BD45A;
}

/* line 853, mobilestyle.scss */
ol.group-pallet li {
  font-size: 9.6px;
  font-weight: normal;
  text-indent: 0px;
  display: block;
  margin: 5px;
  padding: 0px;
  border: solid 2px #323452;
  border-radius: 15px;
  color: #323452;
  border-color: #8BD45A;
}

/* line 856, mobilestyle.scss */
ol.option li {
  font-size: 9.6px;
  font-weight: normal;
  text-indent: 0px;
  display: block;
  margin: 5px;
  padding: 0px;
  border: solid 2px #323452;
  border-radius: 15px;
  color: #323452;
  border-color: #6C00B5;
}

/* line 859, mobilestyle.scss */
ol.option-pallet li {
  font-size: 9.6px;
  font-weight: normal;
  text-indent: 0px;
  display: block;
  margin: 5px;
  padding: 0px;
  border: solid 2px #323452;
  border-radius: 15px;
  color: #323452;
  border-color: #6C00B5;
}

/* line 863, mobilestyle.scss */
ol li.placeholder {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
}

/* line 24, jquery-sortable.css.sass */
/* line 869, mobilestyle.scss */
ol li.placeholder:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  margin-top: -5px;
  left: -5px;
  top: -4px;
  border: 5px solid transparent;
  border-left-color: #FF3A00;
  border-right: none;
}

/* line 881, mobilestyle.scss */
table tr.placeholder {
  position: relative;
  margin: 0;
  padding: 0;
  outline: 2px dotted #6C00B5;
}

/* line 24, jquery-sortable.css.sass */
/* line 888, mobilestyle.scss */
table tr.placeholder:before {
  position: relative;
  content: "";
  width: 0;
  height: 0;
  margin-top: 0px;
  left: -5px;
  top: 0px;
}

/* line 899, mobilestyle.scss */
div.trash {
  background-image: url("../img/trash.png");
  background-size: 100px;
  min-height: 40px;
  width: 40px;
}

/* line 907, mobilestyle.scss */
.ui-widget-content {
  border: 1px solid #323452;
  background: #f0e6d7 50% bottom repeat-x;
  color: #323452;
}

/* line 912, mobilestyle.scss */
.ui-widget-content a {
  color: #323452;
}

/* line 915, mobilestyle.scss */
.ui-widget-header {
  border: 1px solid #323452;
  background: #323452 50% 50% repeat-x;
  color: #FF3A00;
  font-weight: bold;
}

/* line 921, mobilestyle.scss */
.ui-widget-header a {
  color: #323452;
}

/* line 925, mobilestyle.scss */
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  border: 1px solid #FF3A00;
  background: #323452 50% 50% repeat-x;
  font-weight: bold;
  color: #f0e6d7;
}
/* line 932, mobilestyle.scss */
.ui-state-default a,
.ui-widget-content .ui-state-default a,
.ui-widget-header .ui-state-default a {
  color: #f0e6d7;
  font-weight: normal;
  text-decoration: none;
}
/* line 936, mobilestyle.scss */
.ui-state-default a:active,
.ui-widget-content .ui-state-default a:active,
.ui-widget-header .ui-state-default a:active {
  color: #f0e6d7;
}
/* line 937, mobilestyle.scss */
.ui-state-default a:hover,
.ui-widget-content .ui-state-default a:hover,
.ui-widget-header .ui-state-default a:hover {
  color: #f0e6d7;
  text-decoration: underline;
}
/* line 941, mobilestyle.scss */
.ui-state-default a:link,
.ui-widget-content .ui-state-default a:link,
.ui-widget-header .ui-state-default a:link {
  color: #f0e6d7;
}
/* line 942, mobilestyle.scss */
.ui-state-default a:visited,
.ui-widget-content .ui-state-default a:visited,
.ui-widget-header .ui-state-default a:visited {
  color: #f0e6d7;
}

/* line 947, mobilestyle.scss */
.ui-state-default .ui-accordion-header a {
  color: #f0e6d7;
  font-weight: normal;
  text-decoration: none;
}
/* line 951, mobilestyle.scss */
.ui-state-default .ui-accordion-header a:active {
  color: #f0e6d7;
}
/* line 952, mobilestyle.scss */
.ui-state-default .ui-accordion-header a:hover {
  color: #f0e6d7;
  text-decoration: underline;
}
/* line 956, mobilestyle.scss */
.ui-state-default .ui-accordion-header a:link {
  color: #f0e6d7;
}
/* line 957, mobilestyle.scss */
.ui-state-default .ui-accordion-header a:visited {
  color: #f0e6d7;
}

/* line 961, mobilestyle.scss */
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  border: 1px solid #323452;
  background: #FF3A00 50% 50% repeat-x;
  font-weight: bold;
  color: #f0e6d7;
}

/* line 973, mobilestyle.scss */
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  border: 1px solid #FF3A00;
  background: #323452 50% 50% repeat-x;
  font-weight: normal;
  color: #f0e6d7;
}

/* line 982, mobilestyle.scss */
.ui-button {
  radius: 0px;
}

/* line 986, mobilestyle.scss */
a.anchor {
  display: block;
  position: relative;
  top: -24px;
  visibility: hidden;
}

/* line 994, mobilestyle.scss */
div.slogan_div {
  font: 24px Cheeseburger;
}

/* line 999, mobilestyle.scss */
div.logo_div {
  display: inline-block;
}
