/* style.scss */
/* color variables */
/* button color variables */
/* size variables */
/* mixins */
/* styles */
@font-face {
  font-family: "Cheeseburger";
  src: url("CHEESEBU.ttf");
}
/* line 102, style[Conflict].scss */
body {
  font: 14px arial, helvetica, sans-serif;
  color: #323452;
  background-color: #f0e6d7;
  background: url("../img/background.jpg") no-repeat center center fixed;
  background: #f0e6d7 no-repeat center center fixed\9;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  margin: 0px;
  top: 0px;
  padding-top: 0px;
  position: absolute;
  height: 100%;
  width: 100%;
  max-width: 100%;
}

/* line 122, style[Conflict].scss */
html {
  height: 100%;
  max-width: 100%;
}

/* line 127, style[Conflict].scss */
a {
  color: #323452;
  font-weight: normal;
  text-decoration: none;
}
/* line 131, style[Conflict].scss */
a:active {
  color: #323452;
}
/* line 132, style[Conflict].scss */
a:hover {
  color: #323452;
  text-decoration: underline;
}
/* line 136, style[Conflict].scss */
a:link {
  color: #323452;
}
/* line 137, style[Conflict].scss */
a:visited {
  color: #323452;
}
/* line 138, style[Conflict].scss */
a img {
  border: none;
}

/* line 143, style[Conflict].scss */
div.top_nav {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  margin: 0px;
  background-color: #323452;
  display: inline-block;
  opacity: 1;
  padding: 0px;
  z-index: 2;
}

/* line 154, style[Conflict].scss */
div.top_nav_content {
  position: relative;
  top: 0px;
  width: 940px;
  height: 80px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  display: block;
  line-height: 0;
}

/*	
div.logo_div {
	position: absolute;
	@include top(1,$gutter-width + $margin-top);
	@include left(0);
	@include height(3, 0);
	@include width(3, 0);
	@include container();
}
*/
/* line 180, style[Conflict].scss */
div.logo_div {
  display: inline-block;
  width: 15%;
}

/* line 186, style[Conflict].scss */
img.logo {
  width: 100%;
  max-width: 80px;
}

/* line 192, style[Conflict].scss */
div.slogan_outer_div {
  position: relative;
  display: inline-block;
  width: 62%;
  height: 80px;
}

/* line 200, style[Conflict].scss */
div.slogan_inner_div {
  position: absolute;
  top: 50%;
  height: 20px;
  display: inline-block;
  font-size: 21px;
  /* Cheeseburger;*/
  width: 100%;
  color: ffffff;
}

/* line 211, style[Conflict].scss */
div.nav_outer_div {
  position: relative;
  display: inline-block;
  width: 20%;
  height: 100%;
}

/* line 219, style[Conflict].scss */
div.nav_inner_div {
  position: absolute;
  top: 50%;
  height: 20px;
  display: inline-block;
  width: 100%;
  text-align: right;
  color: ffffff;
}
/* line 228, style[Conflict].scss */
div.nav_inner_div a {
  color: ffffff;
}

/* line 231, style[Conflict].scss */
div.content {
  position: relative;
  top: 0px;
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 40px;
  display: inline-block;
  opacity: 1;
  padding: 0px;
  display: block;
}

/* line 243, style[Conflict].scss */
div.ribbon_container {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-top: 20px;
}

/* line 251, style[Conflict].scss */
div.ribbon_container_content {
  position: relative;
  display: inline-block;
}

/* line 257, style[Conflict].scss */
div.ribbon {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 80px;
  width: 100%;
  background-color: #FF3A00;
}

/* line 270, style[Conflict].scss */
div.ribbon_content {
  position: relative;
  top: 0px;
  width: 940px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  display: block;
  min-height: 230px;
}

/* line 285, style[Conflict].scss */
div.ribbon_phrase_outer_div {
  position: relative;
  display: inline-block;
  width: 50%;
  height: 80px;
  top: 75px;
}

/* line 294, style[Conflict].scss */
div.ribbon_phrase_inner_div {
  position: absolute;
  top: 50%;
  height: 56px;
  margin-top: -28px;
  display: inline-block;
  font-size: 24.5px;
  /* Cheeseburger;*/
  width: 100%;
  color: ffffff;
  text-align: center;
}

/* line 307, style[Conflict].scss */
div.ribbon_search_outer_div {
  position: absolute;
  display: inline-flex;
  width: 49%;
  height: 80px;
  top: 75px;
}

/* line 316, style[Conflict].scss */
div.ribbon_search_inner_div {
  position: relative;
  top: -100%;
  height: 300%;
  display: inline-flex;
  font-size: 28px;
  /* Cheeseburger;*/
  width: 320px;
  color: ffffff;
  text-align: center;
  margin: auto auto;
}
/* line 327, style[Conflict].scss */
div.ribbon_search_inner_div div.solid_block_div {
  top: 0px;
}

/* line 333, style[Conflict].scss */
div.solid_block_div {
  display: inline-block;
  position: absolute;
  background-color: rgba(240, 230, 215, 0.8);
  top: 0;
  left: 0;
  min-height: 180;
  width: 320;
  /*
  @include top($top);
  @include left($left);
  @include height($height, $padding);
  @include width($width, $padding);
  */
  padding: 0;
  border-radius: 15px;
  opacity: 1;
  z-index: 1;
  background-color: #f0e6d7;
  text-align: center;
  position: relative;
  margin: auto 0px;
}

/* line 342, style[Conflict].scss */
div.solid_block_title {
  display: inline-block;
  position: absolute;
  background-color: rgba(240, 230, 215, 0.8);
  top: 0;
  left: 0;
  min-height: 30;
  width: 320;
  /*
  @include top($top);
  @include left($left);
  @include height($height, $padding);
  @include width($width, $padding);
  */
  padding: 0;
  border-radius: 15px;
  opacity: 1;
  z-index: 1;
  position: relative;
  height: 30;
  background-color: #323452;
  color: #f0e6d7;
  text-align: center;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

/* line 354, style[Conflict].scss */
div.solid_block_body {
  display: inline-block;
  position: absolute;
  background-color: rgba(240, 230, 215, 0.8);
  top: 0;
  left: 0;
  min-height: 30;
  width: 320;
  /*
  @include top($top);
  @include left($left);
  @include height($height, $padding);
  @include width($width, $padding);
  */
  padding: 0;
  border-radius: 15px;
  opacity: 1;
  z-index: 1;
  position: relative;
  background-color: #f0e6d7;
  color: #323452;
  text-align: center;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

/* line 365, style[Conflict].scss */
form {
  margin: 0px;
}

/* line 370, style[Conflict].scss */
div.icon_row {
  display: inline-block;
  position: absolute;
  background-color: rgba(240, 230, 215, 0.8);
  top: 0;
  left: 0;
  min-height: 180;
  width: 100%;
  /*
  @include top($top);
  @include left($left);
  @include height($height, $padding);
  @include width($width, $padding);
  */
  padding: 0;
  border-radius: 15px;
  opacity: 1;
  z-index: 1;
  text-align: center;
  position: relative;
  margin-top: 20px;
}

/* line 378, style[Conflict].scss */
div.icon_column {
  display: inline-block;
  width: 24%;
}

/* line 384, style[Conflict].scss */
div.login_container {
  position: relative;
  display: inline-block;
  width: 50%;
}

/* line 391, style[Conflict].scss */
div.login_div {
  display: inline-block;
  position: absolute;
  background-color: rgba(240, 230, 215, 0.8);
  top: 0;
  left: 0;
  min-height: 60;
  width: 320;
  /*
  @include top($top);
  @include left($left);
  @include height($height, $padding);
  @include width($width, $padding);
  */
  padding: 0;
  border-radius: 15px;
  opacity: 1;
  z-index: 1;
  display: block;
  text-align: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

/* line 402, style[Conflict].scss */
div.login_title {
  display: inline-block;
  position: absolute;
  background-color: rgba(240, 230, 215, 0.8);
  top: 0;
  left: 0;
  min-height: 30;
  width: 320;
  /*
  @include top($top);
  @include left($left);
  @include height($height, $padding);
  @include width($width, $padding);
  */
  padding: 0;
  border-radius: 15px;
  opacity: 1;
  z-index: 1;
  position: relative;
  height: 30;
  background-color: #323452;
  color: #f0e6d7;
  text-align: center;
  font-size: 28px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

/* line 415, style[Conflict].scss */
div.login_body {
  display: inline-block;
  position: absolute;
  background-color: rgba(240, 230, 215, 0.8);
  top: 0;
  left: 0;
  min-height: 30;
  width: 320;
  /*
  @include top($top);
  @include left($left);
  @include height($height, $padding);
  @include width($width, $padding);
  */
  padding: 0;
  border-radius: 15px;
  opacity: 1;
  z-index: 1;
  position: relative;
  background-color: #f0e6d7;
  color: #323452;
  text-align: center;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

/* line 426, style[Conflict].scss */
div.social_menu {
  display: inline-block;
  position: absolute;
  background-color: rgba(240, 230, 215, 0.8);
  top: 0;
  left: 0;
  min-height: 0;
  width: 320;
  /*
  @include top($top);
  @include left($left);
  @include height($height, $padding);
  @include width($width, $padding);
  */
  padding: 0;
  border-radius: 15px;
  opacity: 1;
  z-index: 1;
  display: block;
  text-align: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* line 439, style[Conflict].scss */
div.register_container {
  position: relative;
  display: inline-block;
  width: 49%;
}

/* line 446, style[Conflict].scss */
div.register_div {
  display: inline-block;
  position: absolute;
  background-color: rgba(240, 230, 215, 0.8);
  top: 0;
  left: 0;
  min-height: 60;
  width: 320;
  /*
  @include top($top);
  @include left($left);
  @include height($height, $padding);
  @include width($width, $padding);
  */
  padding: 0;
  border-radius: 15px;
  opacity: 1;
  z-index: 1;
  display: block;
  text-align: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

/* line 457, style[Conflict].scss */
div.register_title {
  display: inline-block;
  position: absolute;
  background-color: rgba(240, 230, 215, 0.8);
  top: 0;
  left: 0;
  min-height: 30;
  width: 320;
  /*
  @include top($top);
  @include left($left);
  @include height($height, $padding);
  @include width($width, $padding);
  */
  padding: 0;
  border-radius: 15px;
  opacity: 1;
  z-index: 1;
  position: relative;
  height: 30;
  background-color: #323452;
  color: #f0e6d7;
  text-align: center;
  font-size: 28px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

/* line 470, style[Conflict].scss */
div.register_body {
  display: inline-block;
  position: absolute;
  background-color: rgba(240, 230, 215, 0.8);
  top: 0;
  left: 0;
  min-height: 30;
  width: 320;
  /*
  @include top($top);
  @include left($left);
  @include height($height, $padding);
  @include width($width, $padding);
  */
  padding: 0;
  border-radius: 15px;
  opacity: 1;
  z-index: 1;
  position: relative;
  background-color: #f0e6d7;
  color: #323452;
  text-align: center;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

/* line 481, style[Conflict].scss */
div.bottom_bar {
  display: inline-block;
  position: absolute;
  background-color: rgba(240, 230, 215, 0.8);
  top: 0;
  left: 0;
  min-height: 0;
  width: 100%;
  /*
  @include top($top);
  @include left($left);
  @include height($height, $padding);
  @include width($width, $padding);
  */
  padding: 0;
  border-radius: 15px;
  opacity: 1;
  z-index: 1;
  position: relative;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

/*  SECTIONS  */
/* line 492, style[Conflict].scss */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  COLUMN SETUP  */
/* line 499, style[Conflict].scss */
.col {
  display: block;
  float: left;
  margin: 0 0 0 0;
}

/* line 504, style[Conflict].scss */
.col:first-child {
  margin-left: 0;
}

/*  GROUPING  */
/* line 508, style[Conflict].scss */
.group:before,
.group:after {
  content: "";
  display: table;
}

/* line 513, style[Conflict].scss */
.group:after {
  clear: both;
}

/* line 516, style[Conflict].scss */
.group {
  zoom: 1;
  /* For IE 6/7 */
}

/*  GRID OF TWO  */
/* line 521, style[Conflict].scss */
.span_2_of_2 {
  width: 100%;
}

/* line 524, style[Conflict].scss */
.span_1_of_2 {
  width: 50%;
}

/*  GRID OF THREE  */
/* line 529, style[Conflict].scss */
.span_3_of_3 {
  width: 100%;
}

/* line 532, style[Conflict].scss */
.span_2_of_3 {
  width: 66.7%;
}

/* line 535, style[Conflict].scss */
.span_1_of_3 {
  width: 33.3%;
}

/*  GRID OF FOUR  */
/* line 540, style[Conflict].scss */
.span_4_of_4 {
  width: 100%;
}

/* line 543, style[Conflict].scss */
.span_3_of_4 {
  width: 75%;
}

/* line 546, style[Conflict].scss */
.span_2_of_4 {
  width: 50%;
}

/* line 549, style[Conflict].scss */
.span_1_of_4 {
  width: 25%;
}

@media only screen and (max-width: 940px) {
  /* line 555, style[Conflict].scss */
  div.top_nav_content {
    width: 100%;
  }

  /* line 558, style[Conflict].scss */
  div.content {
    width: 100%;
  }

  /* line 561, style[Conflict].scss */
  div.ribbon_content {
    width: 100%;
  }
}
/*  GO HALF WIDTH AT LESS THAN 720 PIXELS */
@media only screen and (max-width: 720px) {
  /* line 570, style[Conflict].scss */
  div.slogan_outer_div {
    width: 0px;
    height: 0px;
    overflow: hidden;
  }

  /* line 575, style[Conflict].scss */
  div.nav_outer_div {
    width: 80%;
  }

  /* line 578, style[Conflict].scss */
  div.ribbon_phrase_outer_div {
    width: 100%;
    top: 0px;
  }

  /* line 582, style[Conflict].scss */
  div.ribbon_search_outer_div {
    width: 100%;
    top: 180px;
  }

  /* line 586, style[Conflict].scss */
  div.ribbon_container {
    height: 340px;
  }

  /* line 589, style[Conflict].scss */
  div.ribbon {
    bottom: 260px;
  }

  /* line 593, style[Conflict].scss */
  .span_4_of_4 {
    width: 100%;
  }

  /* line 596, style[Conflict].scss */
  .span_3_of_4 {
    width: 100%;
  }

  /* line 599, style[Conflict].scss */
  .span_2_of_4 {
    width: 50%;
  }

  /* line 602, style[Conflict].scss */
  .span_1_of_4 {
    width: 50%;
  }

  /* line 605, style[Conflict].scss */
  .span_1_to_2_of_4 {
    width: 100%;
  }

  /* line 609, style[Conflict].scss */
  .span_2_of_2 {
    width: 100%;
  }

  /* line 612, style[Conflict].scss */
  .span_1_of_2 {
    width: 100%;
  }
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  /* line 621, style[Conflict].scss */
  .span_2_of_2 {
    width: 100%;
  }

  /* line 624, style[Conflict].scss */
  .span_1_of_2 {
    width: 100%;
  }

  /* line 627, style[Conflict].scss */
  .span_3_of_3 {
    width: 100%;
  }

  /* line 630, style[Conflict].scss */
  .span_2_of_3 {
    width: 100%;
  }

  /* line 633, style[Conflict].scss */
  .span_1_of_3 {
    width: 100%;
  }

  /* line 636, style[Conflict].scss */
  .span_4_of_4 {
    width: 100%;
  }

  /* line 639, style[Conflict].scss */
  .span_3_of_4 {
    width: 100%;
  }

  /* line 642, style[Conflict].scss */
  .span_2_of_4 {
    width: 100%;
  }

  /* line 645, style[Conflict].scss */
  .span_1_of_4 {
    width: 100%;
  }

  /* line 649, style[Conflict].scss */
  .column {
    width: 100%;
  }
}
/* line 654, style[Conflict].scss */
#main_left_content.fixed {
  position: fixed;
  top: 0;
}

/* line 659, style[Conflict].scss */
#main_left_content.bottom {
  position: absolute;
  bottom: 0;
}

/* line 664, style[Conflict].scss */
#bottombar {
  display: inline-block;
  position: absolute;
  background-color: rgba(240, 230, 215, 0.8);
  top: 0;
  left: 0;
  min-height: 1;
  width: -27px;
  /*
  @include top($top);
  @include left($left);
  @include height($height, $padding);
  @include width($width, $padding);
  */
  padding: 20px;
  border-radius: 15px;
  opacity: 1;
  z-index: 1;
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}

/* line 671, style[Conflict].scss */
#bottombarcontent {
  position: relative;
  top: 0px;
  width: 940px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 2px;
  display: inline-block;
  opacity: 1;
  padding: 0px;
}

/* line 683, style[Conflict].scss */
#topnavtext {
  color: #f0e6d7;
}
/* line 685, style[Conflict].scss */
#topnavtext a {
  color: #f0e6d7;
}

/* line 688, style[Conflict].scss */
#toparea {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 940px;
  min-height: 160px;
  display: inline-block;
  opacity: 1;
  padding: 0px;
}

/* line 697, style[Conflict].scss */
#topbar {
  display: inline-block;
  position: absolute;
  background-color: rgba(240, 230, 215, 0.8);
  top: 0;
  left: 3;
  min-height: 3;
  width: -27px;
  /*
  @include top($top);
  @include left($left);
  @include height($height, $padding);
  @include width($width, $padding);
  */
  padding: 20px;
  border-radius: 15px;
  opacity: 1;
  z-index: 1;
}

/* line 701, style[Conflict].scss */
#socialmenu {
  /*
  position: absolute;
  @include top(1,$gutter-width + $margin-top);
  @include left(16);
  @include height(3, 0);
  @include width(3, 0);
  @include container();
  */
  float: right;
  text-align: right;
}

/* line 714, style[Conflict].scss */
#toplogin {
  position: absolute;
  top: 0px;
  left: 660px;
  width: 320px;
  max-width: 320px;
  height: 150px;
  max-height: 150px;
  display: inline-block;
  opacity: 1;
  padding: 0px;
}

/* line 725, style[Conflict].scss */
#topform {
  position: absolute;
  top: 10px;
  width: 300px;
  height: 130px;
}

/* line 732, style[Conflict].scss */
#mainarea {
  position: relative;
  top: 180px;
  left: 0px;
  width: 960px;
}

/* line 739, style[Conflict].scss */
#mainleft {
  position: absolute;
  background-color: #f0e6d7;
  background-color: rgba(240, 230, 215, 0.8);
  top: 215px;
  left: 0px;
  min-height: 280px;
  width: 160px;
  padding: 0;
  border-radius: 15px;
  display: block;
  opacity: 1;
  z-index: 2;
  color: #323452;
  text-align: left;
}

/* line 758, style[Conflict].scss */
#leftrestaurantmenu a {
  color: #323452;
  font-weight: normal;
  text-decoration: none;
}
/* line 762, style[Conflict].scss */
#leftrestaurantmenu a:active {
  color: #323452;
}
/* line 763, style[Conflict].scss */
#leftrestaurantmenu a:hover {
  color: #323452;
  text-decoration: underline;
}
/* line 767, style[Conflict].scss */
#leftrestaurantmenu a:link {
  color: #323452;
}
/* line 768, style[Conflict].scss */
#leftrestaurantmenu a:visited {
  color: #323452;
}

/* line 772, style[Conflict].scss */
#maincontainer {
  position: absolute;
  top: 180px;
  left: 180px;
  min-height: 280px;
  width: 760px;
  display: inline-block;
  opacity: 1;
  padding: 0px;
  padding-bottom: 1px;
}

/* line 782, style[Conflict].scss */
#mainbody {
  display: inline-block;
  position: absolute;
  background-color: rgba(240, 230, 215, 0.8);
  top: 0;
  left: 0;
  min-height: 5;
  width: -67px;
  /*
  @include top($top);
  @include left($left);
  @include height($height, $padding);
  @include width($width, $padding);
  */
  padding: 40px;
  border-radius: 15px;
  opacity: 1;
  z-index: 1;
  position: relative;
  margin-bottom: 20px;
}

/* line 788, style[Conflict].scss */
#introtopbar {
  display: inline-block;
  position: absolute;
  background-color: rgba(240, 230, 215, 0.8);
  top: 0;
  left: 3;
  min-height: 3;
  width: -67px;
  /*
  @include top($top);
  @include left($left);
  @include height($height, $padding);
  @include width($width, $padding);
  */
  padding: 40px;
  border-radius: 15px;
  opacity: 1;
  z-index: 1;
}

/* line 792, style[Conflict].scss */
#topnavtext {
  display: inline-block;
  font-size: 17.5px;
}

/* line 797, style[Conflict].scss */
#topbartable {
  min-height: 80px;
  width: 100%;
  font-size: 17.5px;
  margin: 0px;
}
/* line 802, style[Conflict].scss */
#topbartable td.logo {
  width: 0%;
}
/* line 804, style[Conflict].scss */
#topbartable td.logo img {
  max-height: 40px;
}
/* line 808, style[Conflict].scss */
#topbartable td.title {
  text-align: center;
  width: 60%;
  font-size: 25.2px;
}
/* line 813, style[Conflict].scss */
#topbartable td.center {
  text-align: center;
  width: 30%;
}
/* line 817, style[Conflict].scss */
#topbartable td.hours {
  text-align: center;
  width: 40%;
  font-size: 10.5px;
}

/* line 824, style[Conflict].scss */
.alert {
  position: relative;
  background-color: rgba(255, 58, 0, 0.7);
  padding: 6px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  border-radius: 15px;
  opacity: 1;
  z-index: 2;
}

/* line 836, style[Conflict].scss */
#registrationtable {
  width: 100%;
  max-width: 320px;
  /*border-spacing:5px;*/
}

/* line 841, style[Conflict].scss */
#registrationtable th.right, td.right {
  text-align: right;
  width: 100px;
}

/* line 845, style[Conflict].scss */
#registrationtable th.center, td.center {
  text-align: center;
  width: 100px;
}

/* line 849, style[Conflict].scss */
#registrationtable th.left, td.left {
  text-align: left;
  width: 100px;
}

/* line 853, style[Conflict].scss */
.test {
  text-align: center !important;
  color: #FF3A00;
  background: #323452 none repeat scroll 0 0;
  border-radius: 10px;
}
/* line 858, style[Conflict].scss */
.test a {
  color: #FF3A00;
  font-weight: normal;
  text-decoration: none;
}
/* line 862, style[Conflict].scss */
.test a:active {
  color: #FF3A00;
}
/* line 863, style[Conflict].scss */
.test a:hover {
  color: #FF3A00;
  text-decoration: underline;
}
/* line 867, style[Conflict].scss */
.test a:link {
  color: #FF3A00;
}
/* line 868, style[Conflict].scss */
.test a:visited {
  color: #FF3A00;
}
/* line 870, style[Conflict].scss */
.test div {
  display: inline-block;
  width: 10px;
}
/* line 875, style[Conflict].scss */
.test div::after {
  content: "\00a0 *";
}

/* line 880, style[Conflict].scss */
#registrationtable th.optional, td.optional {
  text-align: center !important;
  color: #1F2033;
  width: 100px;
}
/* line 884, style[Conflict].scss */
#registrationtable th.optional div, td.optional div {
  display: inline-block;
  width: 10px;
}
/* line 889, style[Conflict].scss */
#registrationtable th.optional div::after, td.optional div::after {
  content: '\2713';
}

/* line 894, style[Conflict].scss */
#registrationtable input[type="text"] {
  width: 90%;
}

/* line 897, style[Conflict].scss */
#registrationtable input[type="password"] {
  width: 90%;
}

/* line 900, style[Conflict].scss */
#registrationtable input[type="number"] {
  width: 90%;
}

/* line 903, style[Conflict].scss */
#registrationtable input[type="email"] {
  width: 90%;
}

/* line 906, style[Conflict].scss */
#registrationtable input[type="tel"] {
  width: 90%;
}

/* line 909, style[Conflict].scss */
#registrationtable select[type="text"] {
  width: 90%;
}

/* line 913, style[Conflict].scss */
#loginbutton {
  background-color: #8BD45A;
  color: #f0e6d7;
  font-size: 10.5px;
  box-shadow: 2px 2px 2px;
  border-style: none;
  cursor: pointer;
}

/* line 922, style[Conflict].scss */
.subcategory {
  background-color: #323452;
  color: #FF3A00;
  text-align: left;
  border-radius: 15px;
}
/* line 927, style[Conflict].scss */
.subcategory span {
  display: inline-block;
}

/* line 932, style[Conflict].scss */
select {
  background-color: #323452;
  color: #FF3A00;
  font-size: 14px;
  height: 20px;
  margin: 2px;
  border-style: none;
  cursor: pointer;
}

/* line 942, style[Conflict].scss */
.optional select {
  background-color: #f0e6d7;
  color: #323452;
  font-size: 14px;
  border-style: none;
  cursor: pointer;
}

/* line 950, style[Conflict].scss */
.optional input {
  background-color: #f0e6d7;
  color: #323452;
  font-size: 14px;
  border-style: none;
  cursor: pointer;
}

/* line 958, style[Conflict].scss */
input {
  background-color: #323452;
  color: #FF3A00;
  font-size: 14px;
  height: 20px;
  border-style: none;
  cursor: pointer;
  margin: 2px;
  padding: 1px;
  padding-right: 6px;
  padding-left: 6px;
}

/* line 971, style[Conflict].scss */
input[type=radio], input[type=checkbox] {
  height: 13px;
  width: 13px;
}

/* line 976, style[Conflict].scss */
input[type=button], input[type=submit] {
  background-color: #323452;
  color: #FF3A00;
  font-size: 14px;
  height: 20px;
  margin: 2px;
  box-shadow: 3px 3px 2px;
  border-style: none;
  cursor: pointer;
}

/* line 987, style[Conflict].scss */
input[type=button]:disabled, input[type=submit]:disabled {
  background-color: #6B6D9C;
  color: #FF8C6B;
  font-size: 14px;
  box-shadow: 3px 3px 2px;
  border-style: none;
}

/* line 995, style[Conflict].scss */
hr {
  display: block;
  height: 1px;
  width: 90%;
  border: 0;
  border-top: 2px solid #003F1F;
  margin: 1em 0;
  padding: 0;
}

/* line 1005, style[Conflict].scss */
p.title {
  font-size: 21px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* line 1010, style[Conflict].scss */
p.title2 {
  font-size: 17.5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* line 1017, style[Conflict].scss */
#ordertable tr {
  height: 40px;
}
/* line 1020, style[Conflict].scss */
#ordertable td {
  width: 160px;
  text-align: left;
}

/* line 1026, style[Conflict].scss */
#leftorder {
  text-align: center;
}
/* line 1028, style[Conflict].scss */
#leftorder a {
  font-size: 10.5px;
  vertical-align: text-top;
}
/* line 1032, style[Conflict].scss */
#leftorder a.orderinfo {
  font-size: 14px;
  vertical-align: text-top;
}

/* line 1038, style[Conflict].scss */
#menutable {
  display: inline-table;
  width: 94%;
}
/* line 1041, style[Conflict].scss */
#menutable tr {
  height: 20px;
}
/* line 1044, style[Conflict].scss */
#menutable td {
  text-align: center;
  font-size: 14px;
}
/* line 1048, style[Conflict].scss */
#menutable th {
  text-align: center;
  font-size: 14px;
}
/* line 1052, style[Conflict].scss */
#menutable td.firstcol {
  text-align: left;
  font-size: 14px;
}
/* line 1056, style[Conflict].scss */
#menutable th.firstcol {
  text-align: left;
  font-size: 14px;
}
/* line 1060, style[Conflict].scss */
#menutable th.category {
  text-align: left;
  font-size: 21px;
}
/* line 1064, style[Conflict].scss */
#menutable th.subcategory {
  text-align: left;
  font-size: 17.5px;
}
/* line 1068, style[Conflict].scss */
#menutable td.notes {
  text-align: left;
  font-size: 14px;
  font-style: italic;
}
/* line 1073, style[Conflict].scss */
#menutable td.allcol {
  text-align: left;
  column-span: all;
  -webkit-column-span: all;
}
/* line 1078, style[Conflict].scss */
#menutable input[type="text"].size {
  width: 80px;
}
/* line 1082, style[Conflict].scss */
#menutable input[type="text"].description {
  width: 100%;
}
/* line 1086, style[Conflict].scss */
#menutable input[type="number"] {
  width: 35px;
}

/* line 1092, style[Conflict].scss */
#itemtable {
  display: inline-table;
  width: 94%;
}
/* line 1095, style[Conflict].scss */
#itemtable tr {
  height: 20px;
}
/* line 1098, style[Conflict].scss */
#itemtable td {
  text-align: left;
  font-size: 14px;
}
/* line 1102, style[Conflict].scss */
#itemtable th {
  text-align: left;
  font-size: 14px;
}
/* line 1106, style[Conflict].scss */
#itemtable td.firstcol {
  text-align: left;
  font-size: 14px;
  width: 100px;
}
/* line 1111, style[Conflict].scss */
#itemtable th.firstcol {
  text-align: left;
  font-size: 14px;
  width: 100px;
}
/* line 1116, style[Conflict].scss */
#itemtable th.category {
  text-align: left;
  font-size: 21px;
}
/* line 1120, style[Conflict].scss */
#itemtable th.subcategory {
  text-align: left;
  font-size: 17.5px;
}
/* line 1124, style[Conflict].scss */
#itemtable td.notes {
  text-align: left;
  font-size: 14px;
  font-style: italic;
}
/* line 1129, style[Conflict].scss */
#itemtable td.submit {
  text-align: center;
}
/* line 1132, style[Conflict].scss */
#itemtable td.allcol {
  text-align: left;
  column-span: all;
  -webkit-column-span: all;
}
/* line 1137, style[Conflict].scss */
#itemtable input[type="text"].size {
  width: 80px;
}
/* line 1141, style[Conflict].scss */
#itemtable input[type="text"].description {
  width: 100%;
}
/* line 1145, style[Conflict].scss */
#itemtable input[type="number"] {
  width: 35px;
}
/* line 1149, style[Conflict].scss */
#itemtable input[type="submit"] {
  align: center;
}

/* line 1155, style[Conflict].scss */
#fullorder {
  width: 100%;
}
/* line 1157, style[Conflict].scss */
#fullorder tr, #fullorder td, #fullorder th {
  text-align: center;
}
/* line 1160, style[Conflict].scss */
#fullorder tr.money, #fullorder td.money {
  text-align: right;
}
/* line 1163, style[Conflict].scss */
#fullorder select {
  width: 90%;
}
/* line 1166, style[Conflict].scss */
#fullorder input[type="text"] {
  width: 90%;
}
/* line 1169, style[Conflict].scss */
#fullorder input[type="email"] {
  width: 90%;
}
/* line 1172, style[Conflict].scss */
#fullorder input[type="number"] {
  width: 90%;
}
/* line 1175, style[Conflict].scss */
#fullorder input[type="tel"] {
  width: 90%;
}
/* line 1178, style[Conflict].scss */
#fullorder input[type="month"] {
  width: 90%;
}

/* line 1183, style[Conflict].scss */
#quanitynumber {
  width: 100%;
}

/* line 1187, style[Conflict].scss */
table {
  font-size: 14px;
}

/* line 1191, style[Conflict].scss */
tr.delivery-location {
  font-size: 11.2px;
  font-weight: normal;
  text-indent: 0px;
  display: block;
  margin: 5px;
  padding: 0px;
  border: solid 2px #323452;
  border-radius: 15px;
  color: #323452;
  border-color: #323452;
}

/* line 1196, style[Conflict].scss */
body.dragging, body.dragging * {
  cursor: move !important;
}

/* line 1200, style[Conflict].scss */
.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

/* line 1206, style[Conflict].scss */
ol.example li.placeholder {
  position: relative;
  /** More li styles **/
}

/* line 1210, style[Conflict].scss */
ol.example li.placeholder:before {
  position: absolute;
  /** Define arrowhead **/
}

/* line 1215, style[Conflict].scss */
[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../img/glyphicons-halflings-orange.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
  cursor: pointer;
  cursor: hand;
}

/* line 70, ../../vendor/ruby/1.8/bundler/gems/sass-twitter-bootstrap-06795315e047/lib/bootstrap/_mixins.scss */
/* line 1228, style[Conflict].scss */
[class^="icon-"]:last-child,
[class*=" icon-"]:last-child {
  *margin-left: 0;
}

/* line 1232, style[Conflict].scss */
.icon-cancel {
  background-position: -312px 0px;
}

/* line 1235, style[Conflict].scss */
.icon-add {
  background-position: -408px -96px;
}

/* line 1238, style[Conflict].scss */
.icon-pencil {
  background-position: -0px -72px;
}

/* line 1241, style[Conflict].scss */
.icon-move {
  background-position: -168px -72px;
}

/* line 1244, style[Conflict].scss */
.icon-move-list {
  background-position: -168px -72px;
}

/* line 1247, style[Conflict].scss */
.icon-move-category {
  background-position: -168px -72px;
}

/* line 1250, style[Conflict].scss */
.icon-move-subcategory {
  background-position: -168px -72px;
}

/* line 1253, style[Conflict].scss */
.icon-move-item {
  background-position: -168px -72px;
}

/* line 1256, style[Conflict].scss */
.icon-move-group {
  background-position: -168px -72px;
}

/* line 1259, style[Conflict].scss */
.icon-move-option {
  background-position: -168px -72px;
}

/* line 1262, style[Conflict].scss */
ol {
  list-style-type: none;
}

/* line 34, application.css.sass */
/* line 1265, style[Conflict].scss */
ol i.icon-move {
  cursor: pointer;
}

/* line 36, application.css.sass */
/* line 1268, style[Conflict].scss */
ol li.highlight {
  background: #333333;
  color: #999999;
}

/* line 39, application.css.sass */
/* line 1272, style[Conflict].scss */
ol li.highlight i.icon-move {
  background-image: url("../img/glyphicons-halflings-white.png");
}

/* line 1276, style[Conflict].scss */
ol {
  margin: 0 0 0 0;
  text-indent: 0px;
  margin-left: 0px;
  padding-left: 0px;
}

/* line 12, jquery-sortable.css.sass */
  /*
  ol li {
	font-size: .8*$font-size;
	font-weight: normal;
	text-indent:0px;
    display: block;
    margin: 5px;
    padding: 0px;
    border: solid 2px $dark-color;
    border-radius: $radius-width;
	color: $dark-color;
    border-color: $dark-color; }
  */
/* line 19, jquery-sortable.css.sass */
/* line 1296, style[Conflict].scss */
ol.category li {
  font-size: 11.2px;
  font-weight: normal;
  text-indent: 0px;
  display: block;
  margin: 5px;
  padding: 0px;
  border: solid 2px #323452;
  border-radius: 15px;
  color: #323452;
  border-color: #323452;
}

/* line 1299, style[Conflict].scss */
ol.category-pallet li {
  font-size: 11.2px;
  font-weight: normal;
  text-indent: 0px;
  display: block;
  margin: 5px;
  padding: 0px;
  border: solid 2px #323452;
  border-radius: 15px;
  color: #323452;
  border-color: #323452;
}

/* line 1302, style[Conflict].scss */
ol.subcategory li {
  font-size: 11.2px;
  font-weight: normal;
  text-indent: 0px;
  display: block;
  margin: 5px;
  padding: 0px;
  border: solid 2px #323452;
  border-radius: 15px;
  color: #323452;
  border-color: #8BD45A;
}

/* line 1305, style[Conflict].scss */
ol.subcategory-pallet li {
  font-size: 11.2px;
  font-weight: normal;
  text-indent: 0px;
  display: block;
  margin: 5px;
  padding: 0px;
  border: solid 2px #323452;
  border-radius: 15px;
  color: #323452;
  border-color: #8BD45A;
}

/* line 1308, style[Conflict].scss */
ol.item li {
  font-size: 11.2px;
  font-weight: normal;
  text-indent: 0px;
  display: block;
  margin: 5px;
  padding: 0px;
  border: solid 2px #323452;
  border-radius: 15px;
  color: #323452;
  border-color: #6C00B5;
}

/* line 1311, style[Conflict].scss */
ol.item-pallet li {
  font-size: 11.2px;
  font-weight: normal;
  text-indent: 0px;
  display: block;
  margin: 5px;
  padding: 0px;
  border: solid 2px #323452;
  border-radius: 15px;
  color: #323452;
  border-color: #6C00B5;
}

/* line 1314, style[Conflict].scss */
ol.group li {
  font-size: 11.2px;
  font-weight: normal;
  text-indent: 0px;
  display: block;
  margin: 5px;
  padding: 0px;
  border: solid 2px #323452;
  border-radius: 15px;
  color: #323452;
  border-color: #8BD45A;
}

/* line 1317, style[Conflict].scss */
ol.group-pallet li {
  font-size: 11.2px;
  font-weight: normal;
  text-indent: 0px;
  display: block;
  margin: 5px;
  padding: 0px;
  border: solid 2px #323452;
  border-radius: 15px;
  color: #323452;
  border-color: #8BD45A;
}

/* line 1320, style[Conflict].scss */
ol.option li {
  font-size: 11.2px;
  font-weight: normal;
  text-indent: 0px;
  display: block;
  margin: 5px;
  padding: 0px;
  border: solid 2px #323452;
  border-radius: 15px;
  color: #323452;
  border-color: #6C00B5;
}

/* line 1323, style[Conflict].scss */
ol.option-pallet li {
  font-size: 11.2px;
  font-weight: normal;
  text-indent: 0px;
  display: block;
  margin: 5px;
  padding: 0px;
  border: solid 2px #323452;
  border-radius: 15px;
  color: #323452;
  border-color: #6C00B5;
}

/* line 1327, style[Conflict].scss */
ol li.placeholder {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
}

/* line 24, jquery-sortable.css.sass */
/* line 1333, style[Conflict].scss */
ol li.placeholder:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  margin-top: -5px;
  left: -5px;
  top: -4px;
  border: 5px solid transparent;
  border-left-color: #FF3A00;
  border-right: none;
}

/* line 1345, style[Conflict].scss */
table tr.placeholder {
  position: relative;
  margin: 0;
  padding: 0;
  outline: 2px dotted #6C00B5;
}

/* line 24, jquery-sortable.css.sass */
/* line 1352, style[Conflict].scss */
table tr.placeholder:before {
  position: relative;
  content: "";
  width: 0;
  height: 0;
  margin-top: 0px;
  left: -5px;
  top: 0px;
}

/* line 1363, style[Conflict].scss */
div.trash {
  background-image: url("../img/trash.png");
  background-size: 100px;
  min-height: 100px;
  width: 100px;
}

/* line 1371, style[Conflict].scss */
.ui-accordion {
  max-width: 320px;
}

/* line 1375, style[Conflict].scss */
.ui-widget-content {
  border: 1px solid #323452;
  background: #f0e6d7 50% bottom repeat-x;
  color: #323452;
}

/* line 1380, style[Conflict].scss */
.ui-widget-content a {
  color: #323452;
}

/* line 1383, style[Conflict].scss */
.ui-widget-header {
  border: 1px solid #323452;
  background: #323452 50% 50% repeat-x;
  color: #FF3A00;
  font-weight: bold;
}

/* line 1389, style[Conflict].scss */
.ui-widget-header a {
  color: #323452;
}

/* line 1393, style[Conflict].scss */
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  border: 1px solid #FF3A00;
  background: #323452 50% 50% repeat-x;
  font-weight: bold;
  color: #f0e6d7;
}
/* line 1400, style[Conflict].scss */
.ui-state-default a,
.ui-widget-content .ui-state-default a,
.ui-widget-header .ui-state-default a {
  color: #f0e6d7;
  font-weight: normal;
  text-decoration: none;
}
/* line 1404, style[Conflict].scss */
.ui-state-default a:active,
.ui-widget-content .ui-state-default a:active,
.ui-widget-header .ui-state-default a:active {
  color: #f0e6d7;
}
/* line 1405, style[Conflict].scss */
.ui-state-default a:hover,
.ui-widget-content .ui-state-default a:hover,
.ui-widget-header .ui-state-default a:hover {
  color: #f0e6d7;
  text-decoration: underline;
}
/* line 1409, style[Conflict].scss */
.ui-state-default a:link,
.ui-widget-content .ui-state-default a:link,
.ui-widget-header .ui-state-default a:link {
  color: #f0e6d7;
}
/* line 1410, style[Conflict].scss */
.ui-state-default a:visited,
.ui-widget-content .ui-state-default a:visited,
.ui-widget-header .ui-state-default a:visited {
  color: #f0e6d7;
}

/* line 1415, style[Conflict].scss */
.ui-state-default .ui-accordion-header a {
  color: #f0e6d7;
  font-weight: normal;
  text-decoration: none;
}
/* line 1419, style[Conflict].scss */
.ui-state-default .ui-accordion-header a:active {
  color: #f0e6d7;
}
/* line 1420, style[Conflict].scss */
.ui-state-default .ui-accordion-header a:hover {
  color: #f0e6d7;
  text-decoration: underline;
}
/* line 1424, style[Conflict].scss */
.ui-state-default .ui-accordion-header a:link {
  color: #f0e6d7;
}
/* line 1425, style[Conflict].scss */
.ui-state-default .ui-accordion-header a:visited {
  color: #f0e6d7;
}

/* line 1429, style[Conflict].scss */
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  border: 1px solid #323452;
  background: #FF3A00 50% 50% repeat-x;
  font-weight: bold;
  color: #f0e6d7;
}

/* line 1441, style[Conflict].scss */
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  border: 1px solid #FF3A00;
  background: #323452 50% 50% repeat-x;
  font-weight: normal;
  color: #f0e6d7;
}

/* line 1450, style[Conflict].scss */
.ui-button {
  radius: 0px;
}

/* line 1454, style[Conflict].scss */
a.anchor {
  display: block;
  position: relative;
  top: 30px;
  visibility: hidden;
}
