/* style.scss */
/* color variables */
/* button color variables */
/* size variables */
/* mixins */
/* styles */
/* line 90, styleie.scss */
body {
  font: 12px arial, helvetica, sans-serif;
  color: #323452;
  background-color: #f0e6d7;
  /* background: url('../img/background.jpg') no-repeat center center fixed; */
  background: #f0e6d7 no-repeat center center fixed\9;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  margin: 0px;
  top: 0px;
  padding-top: 0px;
  position: absolute;
  width: 100%;
}

/* line 108, styleie.scss */
html {
  overflow-x: hidden;
  width: 100%;
}

/* line 113, styleie.scss */
a {
  color: #323452;
  font-weight: normal;
  text-decoration: none;
}
/* line 117, styleie.scss */
a:active {
  color: #323452;
}
/* line 118, styleie.scss */
a:hover {
  color: #323452;
  text-decoration: underline;
}
/* line 122, styleie.scss */
a:link {
  color: #323452;
}
/* line 123, styleie.scss */
a:visited {
  color: #323452;
}
/* line 124, styleie.scss */
a img {
  border: none;
}

/* line 129, styleie.scss */
#bottombar {
  display: block;
  position: absolute;
  background-color: #f0e6d7;
  background-color: #f0e6d7;
  top: 0px;
  left: 0px;
  min-height: 0px;
  width: 720px;
  padding: 20px;
  border-radius: 15px;
  opacity: 1;
  z-index: 1;
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}

/* line 136, styleie.scss */
#bottombarcontent {
  position: relative;
  top: 0px;
  width: 940px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 2px;
  display: block;
  opacity: 1;
  padding: 0px;
}

/* line 148, styleie.scss */
#topnav {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 30px;
  margin: 0px;
  background-color: #323452;
  display: block;
  opacity: 1;
  padding: 0px;
  z-index: 2;
}

/* line 160, styleie.scss */
#topnavtext {
  color: #f0e6d7;
}
/* line 162, styleie.scss */
#topnavtext a {
  color: #f0e6d7;
}

/* line 165, styleie.scss */
#topnavcontent {
  position: relative;
  top: 0px;
  width: 940px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 2px;
  display: block;
  opacity: 1;
  padding: 0px;
}

/* line 177, styleie.scss */
#content {
  position: relative;
  top: 40px;
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 40px;
  display: block;
  opacity: 1;
  padding: 0px;
}

/* line 188, styleie.scss */
#toparea {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 940px;
  min-height: 160px;
  display: block;
  opacity: 1;
  padding: 0px;
}

/* line 197, styleie.scss */
#topbar {
  display: block;
  position: absolute;
  background-color: #f0e6d7;
  background-color: #f0e6d7;
  top: 0px;
  left: 180px;
  min-height: 120px;
  width: 720px;
  padding: 20px;
  border-radius: 15px;
  opacity: 1;
  z-index: 1;
}

/* line 201, styleie.scss */
#toplogo {
  position: absolute;
  top: 35px;
  left: 0px;
  min-height: 160px;
  width: 160px;
  display: block;
  opacity: 1;
  padding: 0px;
}

/* line 210, styleie.scss */
#socialmenu {
  /*
  position: absolute;
  @include top(1,$gutter-width + $margin-top);
  @include left(16);
  @include height(3, 0);
  @include width(3, 0);
  @include container();
  */
  float: right;
  text-align: right;
}

/* line 223, styleie.scss */
#toplogin {
  position: absolute;
  top: 0px;
  left: 660px;
  width: 320px;
  max-width: 320px;
  height: 150px;
  max-height: 150px;
  display: block;
  opacity: 1;
  padding: 0px;
}

/* line 234, styleie.scss */
#topform {
  position: absolute;
  top: 10px;
  width: 300px;
  height: 130px;
}

/* line 241, styleie.scss */
#mainarea {
  position: relative;
  top: 180px;
  left: 0px;
  width: 960px;
}

/* line 248, styleie.scss */
#mainleft {
  position: absolute;
  background-color: #f0e6d7;
  background-color: #f0e6d7;
  top: 215px;
  left: 0px;
  min-height: 280px;
  width: 160px;
  padding: 0;
  border-radius: 15px;
  display: block;
  opacity: 1;
  z-index: 2;
  color: #323452;
  text-align: left;
}

/* line 267, styleie.scss */
#leftrestaurantmenu a {
  color: #323452;
  font-weight: normal;
  text-decoration: none;
}
/* line 271, styleie.scss */
#leftrestaurantmenu a:active {
  color: #323452;
}
/* line 272, styleie.scss */
#leftrestaurantmenu a:hover {
  color: #323452;
  text-decoration: underline;
}
/* line 276, styleie.scss */
#leftrestaurantmenu a:link {
  color: #323452;
}
/* line 277, styleie.scss */
#leftrestaurantmenu a:visited {
  color: #323452;
}

/* line 281, styleie.scss */
#maincontainer {
  position: absolute;
  top: 180px;
  left: 180px;
  min-height: 280px;
  width: 760px;
  display: block;
  opacity: 1;
  padding: 0px;
  padding-bottom: 1px;
}

/* line 291, styleie.scss */
#mainbody {
  display: block;
  position: absolute;
  background-color: #f0e6d7;
  background-color: #f0e6d7;
  top: 0px;
  left: 0px;
  min-height: 200px;
  width: 680px;
  padding: 40px;
  border-radius: 15px;
  opacity: 1;
  z-index: 1;
  position: relative;
  margin-bottom: 20px;
}

/* line 297, styleie.scss */
#introtopbar {
  display: block;
  position: absolute;
  background-color: #f0e6d7;
  background-color: #f0e6d7;
  top: 0px;
  left: 180px;
  min-height: 80px;
  width: 680px;
  padding: 40px;
  border-radius: 15px;
  opacity: 1;
  z-index: 1;
}

/* line 301, styleie.scss */
#topnavtext {
  font-size: 15px;
}

/* line 305, styleie.scss */
#topbartable {
  min-height: 80px;
  width: 100%;
  font-size: 15px;
  margin: 0px;
}
/* line 310, styleie.scss */
#topbartable td.logo {
  width: 0%;
}
/* line 312, styleie.scss */
#topbartable td.logo img {
  max-height: 40px;
}
/* line 316, styleie.scss */
#topbartable td.title {
  text-align: center;
  width: 60%;
  font-size: 21.6px;
}
/* line 321, styleie.scss */
#topbartable td.center {
  text-align: center;
  width: 30%;
}
/* line 325, styleie.scss */
#topbartable td.hours {
  text-align: center;
  width: 40%;
  font-size: 9px;
}

/* line 332, styleie.scss */
.alert {
  position: relative;
  background-color: rgba(255, 58, 0, 0.7);
  padding: 6px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  border-radius: 15px;
  opacity: 1;
  z-index: 2;
}

/* line 344, styleie.scss */
#registrationtable {
  width: 600px;
  border-spacing: 5px;
}

/* line 348, styleie.scss */
#registrationtable th.right, td.right {
  text-align: right;
  width: 100px;
}

/* line 352, styleie.scss */
#registrationtable th.center, td.center {
  text-align: center;
  width: 100px;
}

/* line 356, styleie.scss */
#registrationtable th.left, td.left {
  text-align: left;
  width: 100px;
}

/* line 360, styleie.scss */
#registrationtable th.test, td.test {
  text-align: center !important;
  color: #FF3A00;
  background: #323452 none repeat scroll 0 0;
  border-radius: 10px;
  width: 100px;
}
/* line 366, styleie.scss */
#registrationtable th.test a, td.test a {
  color: #FF3A00;
  font-weight: normal;
  text-decoration: none;
}
/* line 370, styleie.scss */
#registrationtable th.test a:active, td.test a:active {
  color: #FF3A00;
}
/* line 371, styleie.scss */
#registrationtable th.test a:hover, td.test a:hover {
  color: #FF3A00;
  text-decoration: underline;
}
/* line 375, styleie.scss */
#registrationtable th.test a:link, td.test a:link {
  color: #FF3A00;
}
/* line 376, styleie.scss */
#registrationtable th.test a:visited, td.test a:visited {
  color: #FF3A00;
}

/* line 379, styleie.scss */
#registrationtable th.optional, td.optional {
  text-align: center !important;
  color: #1F2033;
  width: 100px;
}

/* line 384, styleie.scss */
#registrationtable input[type="text"] {
  width: 95%;
  height: 140%;
}

/* line 388, styleie.scss */
#registrationtable input[type="password"] {
  width: 95%;
  height: 140%;
}

/* line 392, styleie.scss */
#registrationtable input[type="number"] {
  width: 95%;
  height: 140%;
}

/* line 396, styleie.scss */
#registrationtable input[type="email"] {
  width: 95%;
  height: 140%;
}

/* line 400, styleie.scss */
#registrationtable input[type="tel"] {
  width: 95%;
  height: 140%;
}

/* line 404, styleie.scss */
#registrationtable select[type="text"] {
  width: 95%;
  height: 140%;
}

/* line 409, styleie.scss */
#loginbutton {
  background-color: #8BD45A;
  color: #f0e6d7;
  font-size: 9px;
  box-shadow: 2px 2px 2px;
  border-style: none;
  cursor: pointer;
}

/* line 418, styleie.scss */
#stylebutton {
  background-color: #323452;
  color: #FF3A00;
  font-size: 12px;
  box-shadow: 3px 3px 2px;
  border-style: none;
  cursor: pointer;
}

/* line 427, styleie.scss */
#stylebutton[disabled] {
  background-color: #6B6D9C;
  color: #FF8C6B;
  font-size: 12px;
  box-shadow: 3px 3px 2px;
  border-style: none;
}

/* line 435, styleie.scss */
#registerbutton {
  background-color: #323452;
  color: #FF3A00;
  font-size: 12px;
  width: 100px;
  box-shadow: 3px 3px 2px;
  border-style: none;
  cursor: pointer;
}

/* line 445, styleie.scss */
#registerbutton[disabled] {
  background-color: #6B6D9C;
  color: #FF8C6B;
  font-size: 12px;
  width: 100px;
  box-shadow: 3px 3px 2px;
  border-style: none;
}

/* line 454, styleie.scss */
hr {
  display: block;
  height: 1px;
  width: 90%;
  border: 0;
  border-top: 2px solid #003F1F;
  margin: 1em 0;
  padding: 0;
}

/* line 464, styleie.scss */
p.title {
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* line 469, styleie.scss */
p.title2 {
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* line 476, styleie.scss */
#ordertable tr {
  height: 40px;
}
/* line 479, styleie.scss */
#ordertable td {
  width: 160px;
  text-align: left;
}

/* line 485, styleie.scss */
#leftorder {
  text-align: center;
}
/* line 487, styleie.scss */
#leftorder a {
  font-size: 9px;
  vertical-align: text-top;
}
/* line 491, styleie.scss */
#leftorder a.orderinfo {
  font-size: 12px;
  vertical-align: text-top;
}

/* line 497, styleie.scss */
#menutable {
  display: inline-table;
  width: 94%;
}
/* line 500, styleie.scss */
#menutable tr {
  height: 20px;
}
/* line 503, styleie.scss */
#menutable td {
  text-align: center;
  font-size: 12px;
}
/* line 507, styleie.scss */
#menutable th {
  text-align: center;
  font-size: 12px;
}
/* line 511, styleie.scss */
#menutable td.firstcol {
  text-align: left;
  font-size: 12px;
}
/* line 515, styleie.scss */
#menutable th.firstcol {
  text-align: left;
  font-size: 12px;
}
/* line 519, styleie.scss */
#menutable th.category {
  text-align: left;
  font-size: 18px;
}
/* line 523, styleie.scss */
#menutable th.subcategory {
  text-align: left;
  font-size: 15px;
}
/* line 527, styleie.scss */
#menutable td.notes {
  text-align: left;
  font-size: 12px;
  font-style: italic;
}
/* line 532, styleie.scss */
#menutable td.allcol {
  text-align: left;
  column-span: all;
  -webkit-column-span: all;
}
/* line 537, styleie.scss */
#menutable input[type="text"].size {
  width: 80px;
}
/* line 541, styleie.scss */
#menutable input[type="text"].description {
  width: 100%;
}
/* line 545, styleie.scss */
#menutable input[type="number"] {
  width: 35px;
}

/* line 551, styleie.scss */
#itemtable {
  display: inline-table;
  width: 94%;
}
/* line 554, styleie.scss */
#itemtable tr {
  height: 20px;
}
/* line 557, styleie.scss */
#itemtable td {
  text-align: left;
  font-size: 12px;
}
/* line 561, styleie.scss */
#itemtable th {
  text-align: left;
  font-size: 12px;
}
/* line 565, styleie.scss */
#itemtable td.firstcol {
  text-align: left;
  font-size: 12px;
  width: 100px;
}
/* line 570, styleie.scss */
#itemtable th.firstcol {
  text-align: left;
  font-size: 12px;
  width: 100px;
}
/* line 575, styleie.scss */
#itemtable th.category {
  text-align: left;
  font-size: 18px;
}
/* line 579, styleie.scss */
#itemtable th.subcategory {
  text-align: left;
  font-size: 15px;
}
/* line 583, styleie.scss */
#itemtable td.notes {
  text-align: left;
  font-size: 12px;
  font-style: italic;
}
/* line 588, styleie.scss */
#itemtable td.submit {
  text-align: center;
}
/* line 591, styleie.scss */
#itemtable td.allcol {
  text-align: left;
  column-span: all;
  -webkit-column-span: all;
}
/* line 596, styleie.scss */
#itemtable input[type="text"].size {
  width: 80px;
}
/* line 600, styleie.scss */
#itemtable input[type="text"].description {
  width: 100%;
}
/* line 604, styleie.scss */
#itemtable input[type="number"] {
  width: 35px;
}
/* line 608, styleie.scss */
#itemtable input[type="submit"] {
  align: center;
}

/* line 614, styleie.scss */
#fullorder {
  width: 100%;
}
/* line 616, styleie.scss */
#fullorder tr, #fullorder td, #fullorder th {
  text-align: center;
}
/* line 619, styleie.scss */
#fullorder tr.money, #fullorder td.money {
  text-align: right;
}
/* line 622, styleie.scss */
#fullorder select {
  width: 90%;
}
/* line 625, styleie.scss */
#fullorder input[type="text"] {
  width: 90%;
}
/* line 628, styleie.scss */
#fullorder input[type="email"] {
  width: 90%;
}
/* line 631, styleie.scss */
#fullorder input[type="number"] {
  width: 90%;
}
/* line 634, styleie.scss */
#fullorder input[type="tel"] {
  width: 90%;
}
/* line 637, styleie.scss */
#fullorder input[type="month"] {
  width: 90%;
}

/* line 642, styleie.scss */
#quanitynumber {
  width: 100%;
}

/* line 646, styleie.scss */
table {
  font-size: 12px;
}

/* line 650, styleie.scss */
tr.delivery-location {
  font-size: 9.6px;
  font-weight: normal;
  text-indent: 0px;
  display: block;
  margin: 5px;
  padding: 0px;
  border: solid 2px #323452;
  border-radius: 15px;
  color: #323452;
  border-color: #323452;
}

/* line 655, styleie.scss */
body.dragging, body.dragging * {
  cursor: move !important;
}

/* line 659, styleie.scss */
.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

/* line 665, styleie.scss */
ol.example li.placeholder {
  position: relative;
  /** More li styles **/
}

/* line 669, styleie.scss */
ol.example li.placeholder:before {
  position: absolute;
  /** Define arrowhead **/
}

/* line 674, styleie.scss */
[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../img/glyphicons-halflings-orange.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
  cursor: pointer;
  cursor: hand;
}

/* line 70, ../../vendor/ruby/1.8/bundler/gems/sass-twitter-bootstrap-06795315e047/lib/bootstrap/_mixins.scss */
/* line 687, styleie.scss */
[class^="icon-"]:last-child,
[class*=" icon-"]:last-child {
  *margin-left: 0;
}

/* line 691, styleie.scss */
.icon-cancel {
  background-position: -312px 0px;
}

/* line 694, styleie.scss */
.icon-add {
  background-position: -408px -96px;
}

/* line 697, styleie.scss */
.icon-pencil {
  background-position: -0px -72px;
}

/* line 700, styleie.scss */
.icon-move {
  background-position: -168px -72px;
}

/* line 703, styleie.scss */
.icon-move-list {
  background-position: -168px -72px;
}

/* line 706, styleie.scss */
.icon-move-category {
  background-position: -168px -72px;
}

/* line 709, styleie.scss */
.icon-move-subcategory {
  background-position: -168px -72px;
}

/* line 712, styleie.scss */
.icon-move-item {
  background-position: -168px -72px;
}

/* line 715, styleie.scss */
.icon-move-group {
  background-position: -168px -72px;
}

/* line 718, styleie.scss */
.icon-move-option {
  background-position: -168px -72px;
}

/* line 721, styleie.scss */
ol {
  list-style-type: none;
}

/* line 34, application.css.sass */
/* line 724, styleie.scss */
ol i.icon-move {
  cursor: pointer;
}

/* line 36, application.css.sass */
/* line 727, styleie.scss */
ol li.highlight {
  background: #333333;
  color: #999999;
}

/* line 39, application.css.sass */
/* line 731, styleie.scss */
ol li.highlight i.icon-move {
  background-image: url("../img/glyphicons-halflings-white.png");
}

/* line 735, styleie.scss */
ol {
  margin: 0 0 0 0;
  text-indent: 0px;
  margin-left: 0px;
  padding-left: 0px;
}

/* line 12, jquery-sortable.css.sass */
  /*
  ol li {
	font-size: .8*$font-size;
	font-weight: normal;
	text-indent:0px;
    display: block;
    margin: 5px;
    padding: 0px;
    border: solid 2px $dark-color;
    border-radius: $radius-width;
	color: $dark-color;
    border-color: $dark-color; }
  */
/* line 19, jquery-sortable.css.sass */
/* line 755, styleie.scss */
ol.category li {
  font-size: 9.6px;
  font-weight: normal;
  text-indent: 0px;
  display: block;
  margin: 5px;
  padding: 0px;
  border: solid 2px #323452;
  border-radius: 15px;
  color: #323452;
  border-color: #323452;
}

/* line 758, styleie.scss */
ol.category-pallet li {
  font-size: 9.6px;
  font-weight: normal;
  text-indent: 0px;
  display: block;
  margin: 5px;
  padding: 0px;
  border: solid 2px #323452;
  border-radius: 15px;
  color: #323452;
  border-color: #323452;
}

/* line 761, styleie.scss */
ol.subcategory li {
  font-size: 9.6px;
  font-weight: normal;
  text-indent: 0px;
  display: block;
  margin: 5px;
  padding: 0px;
  border: solid 2px #323452;
  border-radius: 15px;
  color: #323452;
  border-color: #8BD45A;
}

/* line 764, styleie.scss */
ol.subcategory-pallet li {
  font-size: 9.6px;
  font-weight: normal;
  text-indent: 0px;
  display: block;
  margin: 5px;
  padding: 0px;
  border: solid 2px #323452;
  border-radius: 15px;
  color: #323452;
  border-color: #8BD45A;
}

/* line 767, styleie.scss */
ol.item li {
  font-size: 9.6px;
  font-weight: normal;
  text-indent: 0px;
  display: block;
  margin: 5px;
  padding: 0px;
  border: solid 2px #323452;
  border-radius: 15px;
  color: #323452;
  border-color: #6C00B5;
}

/* line 770, styleie.scss */
ol.item-pallet li {
  font-size: 9.6px;
  font-weight: normal;
  text-indent: 0px;
  display: block;
  margin: 5px;
  padding: 0px;
  border: solid 2px #323452;
  border-radius: 15px;
  color: #323452;
  border-color: #6C00B5;
}

/* line 773, styleie.scss */
ol.group li {
  font-size: 9.6px;
  font-weight: normal;
  text-indent: 0px;
  display: block;
  margin: 5px;
  padding: 0px;
  border: solid 2px #323452;
  border-radius: 15px;
  color: #323452;
  border-color: #8BD45A;
}

/* line 776, styleie.scss */
ol.group-pallet li {
  font-size: 9.6px;
  font-weight: normal;
  text-indent: 0px;
  display: block;
  margin: 5px;
  padding: 0px;
  border: solid 2px #323452;
  border-radius: 15px;
  color: #323452;
  border-color: #8BD45A;
}

/* line 779, styleie.scss */
ol.option li {
  font-size: 9.6px;
  font-weight: normal;
  text-indent: 0px;
  display: block;
  margin: 5px;
  padding: 0px;
  border: solid 2px #323452;
  border-radius: 15px;
  color: #323452;
  border-color: #6C00B5;
}

/* line 782, styleie.scss */
ol.option-pallet li {
  font-size: 9.6px;
  font-weight: normal;
  text-indent: 0px;
  display: block;
  margin: 5px;
  padding: 0px;
  border: solid 2px #323452;
  border-radius: 15px;
  color: #323452;
  border-color: #6C00B5;
}

/* line 786, styleie.scss */
ol li.placeholder {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
}

/* line 24, jquery-sortable.css.sass */
/* line 792, styleie.scss */
ol li.placeholder:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  margin-top: -5px;
  left: -5px;
  top: -4px;
  border: 5px solid transparent;
  border-left-color: #FF3A00;
  border-right: none;
}

/* line 804, styleie.scss */
table tr.placeholder {
  position: relative;
  margin: 0;
  padding: 0;
  outline: 2px dotted #6C00B5;
}

/* line 24, jquery-sortable.css.sass */
/* line 811, styleie.scss */
table tr.placeholder:before {
  position: relative;
  content: "";
  width: 0;
  height: 0;
  margin-top: 0px;
  left: -5px;
  top: 0px;
}

/* line 822, styleie.scss */
div.trash {
  background-image: url("../img/trash.png");
  background-size: 100px;
  min-height: 100px;
  width: 100px;
}

/* line 830, styleie.scss */
.ui-widget-content {
  border: 1px solid #323452;
  background: #f0e6d7 50% bottom repeat-x;
  color: #323452;
}

/* line 835, styleie.scss */
.ui-widget-content a {
  color: #323452;
}

/* line 838, styleie.scss */
.ui-widget-header {
  border: 1px solid #323452;
  background: #323452 50% 50% repeat-x;
  color: #FF3A00;
  font-weight: bold;
}

/* line 844, styleie.scss */
.ui-widget-header a {
  color: #323452;
}

/* line 848, styleie.scss */
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  border: 1px solid #FF3A00;
  background: #323452 50% 50% repeat-x;
  font-weight: bold;
  color: #f0e6d7;
}
/* line 855, styleie.scss */
.ui-state-default a,
.ui-widget-content .ui-state-default a,
.ui-widget-header .ui-state-default a {
  color: #f0e6d7;
  font-weight: normal;
  text-decoration: none;
}
/* line 859, styleie.scss */
.ui-state-default a:active,
.ui-widget-content .ui-state-default a:active,
.ui-widget-header .ui-state-default a:active {
  color: #f0e6d7;
}
/* line 860, styleie.scss */
.ui-state-default a:hover,
.ui-widget-content .ui-state-default a:hover,
.ui-widget-header .ui-state-default a:hover {
  color: #f0e6d7;
  text-decoration: underline;
}
/* line 864, styleie.scss */
.ui-state-default a:link,
.ui-widget-content .ui-state-default a:link,
.ui-widget-header .ui-state-default a:link {
  color: #f0e6d7;
}
/* line 865, styleie.scss */
.ui-state-default a:visited,
.ui-widget-content .ui-state-default a:visited,
.ui-widget-header .ui-state-default a:visited {
  color: #f0e6d7;
}

/* line 870, styleie.scss */
.ui-state-default .ui-accordion-header a {
  color: #f0e6d7;
  font-weight: normal;
  text-decoration: none;
}
/* line 874, styleie.scss */
.ui-state-default .ui-accordion-header a:active {
  color: #f0e6d7;
}
/* line 875, styleie.scss */
.ui-state-default .ui-accordion-header a:hover {
  color: #f0e6d7;
  text-decoration: underline;
}
/* line 879, styleie.scss */
.ui-state-default .ui-accordion-header a:link {
  color: #f0e6d7;
}
/* line 880, styleie.scss */
.ui-state-default .ui-accordion-header a:visited {
  color: #f0e6d7;
}

/* line 884, styleie.scss */
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  border: 1px solid #323452;
  background: #FF3A00 50% 50% repeat-x;
  font-weight: bold;
  color: #f0e6d7;
}

/* line 896, styleie.scss */
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  border: 1px solid #FF3A00;
  background: #323452 50% 50% repeat-x;
  font-weight: normal;
  color: #f0e6d7;
}

/* line 905, styleie.scss */
.ui-button {
  radius: 0px;
}
