/* style.scss */
/* check check */
/* color variables */
/* button color variables */
/* size variables */
/* mixins */
/* styles */
@font-face {
  font-family: "Cheeseburger";
  src: url("CHEESEBU.ttf");
}
/* line 107, style.scss */
body {
  font: 14px arial, helvetica, sans-serif;
  color: #323452;
  background-color: #ffffff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  margin: 0px;
  top: 0px;
  padding-top: 0px;
  position: absolute;
  height: 100%;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
}
@media (max-width: 480px) {
  /* line 107, style.scss */
  body {
    /* hey Melissa!! */
    /* hey Melissa!!! */
    background: url("../img/background8-small.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
@media (min-width: 481px) {
  /* line 107, style.scss */
  body {
    background: url("../img/background8.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

/* line 144, style.scss */
html {
  height: 100%;
  max-width: 100%;
}

/* line 149, style.scss */
a {
  color: #323452;
  font-weight: normal;
  text-decoration: none;
  cursor: pointer;
}
/* line 154, style.scss */
a:active {
  color: #323452;
}
/* line 155, style.scss */
a:hover {
  color: #323452;
  text-decoration: underline;
}
/* line 159, style.scss */
a:link {
  color: #323452;
}
/* line 160, style.scss */
a:visited {
  color: #323452;
}
/* line 161, style.scss */
a img {
  border: none;
}

/* line 166, style.scss */
img.holiday {
  max-width: 100%;
}

/* line 170, style.scss */
.content {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  padding: 10px;
}

/* line 177, style.scss */
div.top_nav {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  margin: 0px;
  background-color: #323452;
  color: #f0e6d7;
  display: inline-block;
  opacity: 1;
  z-index: 2;
}
/* line 187, style.scss */
div.top_nav a {
  color: #f0e6d7;
}

/* line 192, style.scss */
div.top_nav_content {
  position: relative;
  top: 0px;
  width: 940px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  display: table;
  line-height: 0;
}

/* line 206, style.scss */
div.top_nav_table_row {
  position: relative;
  top: 0px;
  width: 940px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  display: table-row;
  line-height: 0;
}

/* line 220, style.scss */
div.logo_div {
  display: table-cell;
  width: 15%;
}

/* line 226, style.scss */
img.logo {
  width: 100%;
  max-width: 80px;
}

/* line 232, style.scss */
div.slogan_outer_div {
  position: relative;
  display: table-cell;
  width: 62%;
  height: 80px;
}

/* line 240, style.scss */
div.slogan_inner_div {
  position: absolute;
  top: 50%;
  height: 20px;
  display: inline-block;
  font-size: 21px;
  /* Cheeseburger;*/
  width: 100%;
  color: ffffff;
}

/* line 251, style.scss */
div.nav_outer_div {
  position: relative;
  display: table-cell;
  width: 20%;
  height: 100%;
  vertical-align: middle;
}

/* line 260, style.scss */
div.nav_inner_div {
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: right;
  color: ffffff;
  line-height: 1.25;
}
/* line 268, style.scss */
div.nav_inner_div a {
  color: ffffff;
}

/* line 271, style.scss */
div.page_container {
  position: relative;
  top: 0px;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 40px;
  display: inline-block;
  opacity: 1;
  padding: 0px;
  display: block;
}

/* line 283, style.scss */
div.ribbon_container {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-top: 20px;
}

/* line 291, style.scss */
div.ribbon_container_content {
  position: relative;
  display: inline-block;
}

/* line 297, style.scss */
div.ribbon {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 80px;
  width: 100%;
  background-color: #FF3A00;
}

/* line 310, style.scss */
div.ribbon_border {
  border: solid 2px #323452;
}

/* line 315, style.scss */
div.ribbon_content {
  position: relative;
  top: 0px;
  width: 940px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  display: block;
  min-height: 244px;
}

/* line 330, style.scss */
div.ribbon_phrase_outer_div {
  position: relative;
  display: inline-block;
  width: 50%;
  height: 80px;
  top: 82px;
}

/* line 339, style.scss */
div.ribbon_phrase_inner_div {
  position: absolute;
  top: 50%;
  height: 56px;
  margin-top: -28px;
  display: inline-block;
  font-size: 24.5px;
  /* Cheeseburger;*/
  width: 100%;
  color: ffffff;
  text-align: center;
}

/* line 352, style.scss */
div.ribbon_search_outer_div {
  position: absolute;
  display: inline-block;
  width: 49%;
  height: 80px;
  top: 82px;
  text-align: center;
}

/* line 362, style.scss */
div.ribbon_search_inner_div {
  position: relative;
  top: -88px;
  height: 255px;
  display: inline-flex;
  font-size: 28px;
  /* Cheeseburger;*/
  width: 320px;
  color: ffffff;
  text-align: center;
  margin: auto auto;
}
/* line 373, style.scss */
div.ribbon_search_inner_div div.solid_block_div {
  top: 0px;
}

/* line 379, style.scss */
div.solid_block_div {
  display: inline-block;
  position: absolute;
  background-color: rgba(240, 230, 215, 0.8);
  top: 0;
  left: 0;
  min-height: 180px;
  width: 320px;
  border-radius: 15px;
  opacity: 1;
  z-index: 1;
  background-color: #f0e6d7;
  text-align: center;
  position: relative;
  margin: auto 0px;
}

/* line 388, style.scss */
div.solid_block_title {
  display: inline-block;
  position: absolute;
  background-color: rgba(240, 230, 215, 0.8);
  top: 0;
  left: 0;
  min-height: 30px;
  width: 320px;
  border-radius: 15px;
  opacity: 1;
  z-index: 1;
  position: relative;
  height: 50;
  background-color: #323452;
  color: #f0e6d7;
  text-align: center;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

/* line 400, style.scss */
div.solid_block_body {
  display: inline-block;
  position: absolute;
  background-color: rgba(240, 230, 215, 0.8);
  top: 0;
  left: 0;
  min-height: 30px;
  width: 320px;
  border-radius: 15px;
  opacity: 1;
  z-index: 1;
  position: relative;
  background-color: #f0e6d7;
  color: #323452;
  text-align: center;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

/* line 411, style.scss */
form {
  margin: 0 auto;
  text-align: center;
}

/* line 417, style.scss */
div.icon_row {
  display: inline-block;
  position: absolute;
  background-color: rgba(240, 230, 215, 0.8);
  top: 0;
  left: 0;
  min-height: 180px;
  width: 100%;
  border-radius: 15px;
  opacity: 1;
  z-index: 1;
  text-align: center;
  position: relative;
  margin-top: 20px;
}
/* line 424, style.scss */
div.icon_row div div {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 431, style.scss */
div.icon_column {
  display: inline-block;
  width: 25%;
}

/* line 437, style.scss */
div.login_container {
  position: relative;
  display: inline-block;
  width: 50%;
}

/* line 444, style.scss */
div.login_div {
  display: inline-block;
  position: absolute;
  background-color: rgba(240, 230, 215, 0.8);
  top: 0;
  left: 0;
  min-height: 60px;
  width: 320px;
  border-radius: 15px;
  opacity: 1;
  z-index: 1;
  display: block;
  text-align: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

/* line 455, style.scss */
div.login_title {
  display: inline-block;
  position: absolute;
  background-color: rgba(240, 230, 215, 0.8);
  top: 0;
  left: 0;
  min-height: 30px;
  width: 320px;
  border-radius: 15px;
  opacity: 1;
  z-index: 1;
  position: relative;
  height: 50;
  background-color: #323452;
  color: #f0e6d7;
  text-align: center;
  font-size: 28px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

/* line 468, style.scss */
div.login_body {
  display: inline-block;
  position: absolute;
  background-color: rgba(240, 230, 215, 0.8);
  top: 0;
  left: 0;
  min-height: 30px;
  width: 320px;
  border-radius: 15px;
  opacity: 1;
  z-index: 1;
  position: relative;
  background-color: #f0e6d7;
  color: #323452;
  text-align: center;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

/* line 479, style.scss */
div.social_menu {
  display: inline-block;
  position: absolute;
  background-color: rgba(240, 230, 215, 0.8);
  top: 0;
  left: 0;
  min-height: 0;
  width: 320px;
  border-radius: 15px;
  opacity: 1;
  z-index: 1;
  display: block;
  text-align: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* line 492, style.scss */
div.register_container {
  position: relative;
  display: inline-block;
  width: 49%;
}

/* line 499, style.scss */
div.register_div {
  display: inline-block;
  position: absolute;
  background-color: rgba(240, 230, 215, 0.8);
  top: 0;
  left: 0;
  min-height: 60px;
  width: 320px;
  border-radius: 15px;
  opacity: 1;
  z-index: 1;
  display: block;
  text-align: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

/* line 510, style.scss */
div.register_title {
  display: inline-block;
  position: absolute;
  background-color: rgba(240, 230, 215, 0.8);
  top: 0;
  left: 0;
  min-height: 30px;
  width: 320px;
  border-radius: 15px;
  opacity: 1;
  z-index: 1;
  position: relative;
  height: 50;
  background-color: #323452;
  color: #f0e6d7;
  text-align: center;
  font-size: 28px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

/* line 523, style.scss */
div.register_body {
  display: inline-block;
  position: absolute;
  background-color: rgba(240, 230, 215, 0.8);
  top: 0;
  left: 0;
  min-height: 30px;
  width: 320px;
  border-radius: 15px;
  opacity: 1;
  z-index: 1;
  position: relative;
  background-color: #f0e6d7;
  color: #323452;
  text-align: center;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

/* line 534, style.scss */
div.bottom_bar {
  display: inline-block;
  position: absolute;
  background-color: rgba(240, 230, 215, 0.8);
  top: 0;
  left: 0;
  min-height: 0;
  width: 100%;
  border-radius: 15px;
  opacity: 1;
  z-index: 1;
  position: relative;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* line 544, style.scss */
#main_body {
  min-height: 300px;
}

/* line 548, style.scss */
.regular {
  font-weight: normal;
}
/* line 550, style.scss */
.regular a {
  font-weight: bold;
}

/* line 555, style.scss */
.restaurant_category {
  display: none;
}

/* line 559, style.scss */
.row_0 {
  background-color: rgba(50, 52, 82, 0.2);
}

/* line 563, style.scss */
.subcategory {
  background-color: #323452;
  color: #FF3A00;
  text-align: left;
  vertical-align: middle;
  border-radius: 15px;
  padding-left: 7.5px;
  padding-right: 7.5px;
  padding-top: 3px;
  padding-bottom: 3px;
}
/* line 573, style.scss */
.subcategory:hover {
  background-color: #FF3A00;
  color: #323452;
}
/* line 577, style.scss */
.subcategory div {
  display: inline-block;
  vertical-align: middle;
}
/* line 580, style.scss */
.subcategory div span {
  background-image: url(images/ui-icons_ffffff_256x240.png);
  color: #f0e6d7;
}

/* line 587, style.scss */
.price_array {
  width: 0px;
  height: 0px;
  overflow: hidden;
}

/* line 593, style.scss */
.item {
  text-align: left;
}

/* line 597, style.scss */
.icon {
  width: 20%;
}

/* line 602, style.scss */
.tip_table td, .tip_table th {
  width: 50%;
}
/* line 605, style.scss */
.tip_table input[type=number], .tip_table input[type=button], .tip_table input[type=submit] {
  width: 90%;
}

/* line 611, style.scss */
#left_categories > div {
  display: none;
}

/* line 616, style.scss */
.money {
  text-align: right;
}

/* line 620, style.scss */
.subtotal {
  margin-top: 10px !important;
  text-align: right;
}

/* line 625, style.scss */
.header {
  font-size: 17.5px;
  font-weight: bold;
  margin-bottom: 10px !important;
}

/* line 631, style.scss */
.choose_address {
  text-align: center;
}
/* line 633, style.scss */
.choose_address a {
  font-size: 14px;
}

/*  SECTIONS  */
/* line 639, style.scss */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  COLUMN SETUP  */
/* line 646, style.scss */
.col {
  display: inline-block;
  float: left;
  margin: 0 0 0 0;
}

/* line 651, style.scss */
.col:first-child {
  margin-left: 0;
}

/*  GROUPING  */
/* line 657, style.scss */
.group:before,
.group:after {
  content: "";
  display: table;
}

/* line 662, style.scss */
.group:after {
  clear: both;
}

/* line 665, style.scss */
.group {
  zoom: 1;
  /* For IE 6/7 */
}

/*  GRID OF TWO  */
/* line 670, style.scss */
.span_2_of_2 {
  width: 100%;
}

/* line 673, style.scss */
.span_1_of_2 {
  width: 50%;
}

/*  GRID OF THREE  */
/* line 678, style.scss */
.span_3_of_3 {
  width: 100%;
}

/* line 681, style.scss */
.span_2_of_3 {
  width: 66.66667%;
}

/* line 684, style.scss */
.span_1_of_3 {
  width: 33.33333%;
}

/*  GRID OF FOUR  */
/* line 689, style.scss */
.span_4_of_4 {
  width: 100%;
}

/* line 692, style.scss */
.span_3_of_4 {
  width: 75%;
}

/* line 695, style.scss */
.span_2_of_4 {
  width: 50%;
}

/* line 698, style.scss */
.span_1_of_4 {
  width: 25%;
}

/*  GRID OF FIVE  */
/* line 703, style.scss */
.span_5_of_5 {
  width: 100%;
}

/* line 706, style.scss */
.span_4_of_5 {
  width: 80%;
}

/* line 709, style.scss */
.span_3_of_5 {
  width: 60%;
}

/* line 712, style.scss */
.span_2_of_5 {
  width: 40%;
}

/* line 715, style.scss */
.span_1_of_5 {
  width: 20%;
}

/*  GRID OF TWENTY  */
/* line 720, style.scss */
.span_1_of_20 {
  width: 5%;
}

/* line 723, style.scss */
.span_2_of_20 {
  width: 10%;
}

/* line 726, style.scss */
.span_3_of_20 {
  width: 15%;
}

/* line 729, style.scss */
.span_4_of_20 {
  width: 20%;
}

/* line 732, style.scss */
.span_5_of_20 {
  width: 25%;
}

/* line 735, style.scss */
.span_6_of_20 {
  width: 30%;
}

/* line 738, style.scss */
.span_14_of_20 {
  width: 70%;
}

/* line 741, style.scss */
.span_16_of_20 {
  width: 80%;
}

/* line 744, style.scss */
.span_18_of_20 {
  width: 90%;
}

/* line 747, style.scss */
.span_19_of_20 {
  width: 95%;
}

/* line 750, style.scss */
.span_20_of_20 {
  width: 100%;
}

/* line 754, style.scss */
.desktop {
  width: 100%;
  height: inherit;
}

/* line 759, style.scss */
.tablet {
  width: 0px;
  height: 0px;
  overflow: hidden;
}

@media only screen and (max-width: 940px) {
  /* line 767, style.scss */
  div.top_nav_content {
    width: 100%;
  }

  /* line 770, style.scss */
  div.page_container {
    width: 100%;
  }

  /* line 773, style.scss */
  div.ribbon_content {
    width: 100%;
  }
}
/*  GO HALF WIDTH AT LESS THAN 720 PIXELS */
@media only screen and (max-width: 720px) {
  /* line 782, style.scss */
  div.slogan_outer_div {
    width: 0px;
    height: 0px;
    overflow: hidden;
  }

  /* line 787, style.scss */
  div.slogan_inner_div {
    width: 0px;
    height: 0px;
    overflow: hidden;
  }

  /* line 792, style.scss */
  div.nav_outer_div {
    width: 80%;
  }

  /* line 795, style.scss */
  div.ribbon_phrase_outer_div {
    width: 100%;
    top: 0px;
  }

  /* line 799, style.scss */
  div.ribbon_search_outer_div {
    width: 100%;
    top: 188px;
    left: 0px;
  }

  /* line 804, style.scss */
  div.ribbon_container {
    height: 355px;
  }

  /* line 807, style.scss */
  div.ribbon {
    bottom: 275px;
  }

  /* line 811, style.scss */
  .span_4_of_4 {
    width: 99%;
  }

  /* line 814, style.scss */
  .span_3_of_4 {
    width: 99%;
  }

  /* line 817, style.scss */
  .span_2_of_4 {
    width: 49%;
  }

  /* line 820, style.scss */
  .span_1_of_4 {
    width: 49%;
  }

  /* line 823, style.scss */
  .span_1_to_2_of_4 {
    width: 99%;
  }

  /* line 827, style.scss */
  .span_2_of_2 {
    width: 99%;
  }

  /* line 830, style.scss */
  .span_1_of_2 {
    width: 49%;
  }

  /* line 833, style.scss */
  .span_1_to_2_of_2 {
    width: 99%;
  }

  /* line 837, style.scss */
  .price_array {
    width: 49%;
    height: inherit;
  }

  /* line 842, style.scss */
  .prices {
    width: 0px;
    height: 0px;
    overflow: hidden;
  }

  /* line 848, style.scss */
  .desktop {
    width: 0px;
    height: 0px;
    overflow: hidden;
  }

  /* line 854, style.scss */
  .tablet {
    width: 100%;
    height: inherit;
  }
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  /* line 864, style.scss */
  .span_2_of_2 {
    width: 99%;
  }

  /* line 867, style.scss */
  .span_1_of_2 {
    width: 49%;
  }

  /* line 870, style.scss */
  .span_1_to_2_of_2 {
    width: 99%;
  }

  /* line 874, style.scss */
  .span_3_of_3 {
    width: 99%;
  }

  /* line 877, style.scss */
  .span_2_of_3 {
    width: 99%;
  }

  /* line 880, style.scss */
  .span_1_of_3 {
    width: 99%;
  }

  /* line 883, style.scss */
  .span_4_of_4 {
    width: 99%;
  }

  /* line 886, style.scss */
  .span_3_of_4 {
    width: 99%;
  }

  /* line 889, style.scss */
  .span_2_of_4 {
    width: 99%;
  }

  /* line 892, style.scss */
  .span_1_of_4 {
    width: 49%;
  }

  /* line 895, style.scss */
  .span_1_to_2_of_4 {
    width: 99%;
  }

  /* line 899, style.scss */
  .column {
    width: 99%;
  }

  /* line 903, style.scss */
  .item {
    width: 49%;
    height: inherit;
  }

  /* line 908, style.scss */
  .subtotal {
    text-align: center;
  }

  /* line 912, style.scss */
  .prices {
    width: 0px;
    height: 0px;
    overflow: hidden;
  }

  /* line 918, style.scss */
  .price_array {
    width: 49%;
    height: inherit;
  }
}
/* line 924, style.scss */
#main_left_content.fixed {
  position: fixed;
  top: 0;
}

/* line 929, style.scss */
#main_left_content.bottom {
  position: absolute;
  bottom: 0;
}

/* line 934, style.scss */
.alert {
  position: relative;
  background-color: rgba(255, 58, 0, 0.7);
  padding: 6px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  border-radius: 15px;
  opacity: 1;
  z-index: 2;
}

/* line 946, style.scss */
.test {
  text-align: center !important;
  color: #FF3A00;
  background: #323452 none repeat scroll 0 0;
  border-radius: 10px;
}
/* line 951, style.scss */
.test a {
  color: #FF3A00;
  font-weight: normal;
  text-decoration: none;
}
/* line 955, style.scss */
.test a:active {
  color: #FF3A00;
}
/* line 956, style.scss */
.test a:hover {
  color: #FF3A00;
  text-decoration: underline;
}
/* line 960, style.scss */
.test a:link {
  color: #FF3A00;
}
/* line 961, style.scss */
.test a:visited {
  color: #FF3A00;
}
/* line 963, style.scss */
.test div {
  display: inline-block;
  width: 10px;
}
/* line 968, style.scss */
.test div::after {
  content: "\00a0 *";
}

/* line 974, style.scss */
#registrationtable {
  margin: 0 auto;
}
/* line 977, style.scss */
#registrationtable th.center, #registrationtable td.center {
  text-align: center;
}

/* line 983, style.scss */
#registrationtable th.optional, td.optional {
  text-align: center !important;
  color: #1F2033;
  width: 100px;
}
/* line 987, style.scss */
#registrationtable th.optional div, td.optional div {
  display: inline-block;
  width: 10px;
}
/* line 992, style.scss */
#registrationtable th.optional div:not(.check)::after, td.optional div:not(.check)::after {
  content: '\2713';
}

/* line 997, style.scss */
#registrationtable input[type="text"],
#registrationtable input[type="password"],
#registrationtable input[type="number"],
#registrationtable input[type="email"],
#registrationtable input[type="tel"],
#registrationtable select[type="text"] {
  width: 89%;
}

/* line 1005, style.scss */
#registrationtable input.short {
  width: 75%;
}

/* line 1008, style.scss */
#registrationtable input.exp_month {
  width: 25%;
}

/* line 1011, style.scss */
#registrationtable input.exp_year {
  width: 25%;
}

/* line 1016, style.scss */
select {
  background-color: #323452;
  color: #FF3A00;
  font-size: 14px;
  height: 20px;
  margin: 2px;
  border-style: none;
  cursor: pointer;
  max-width: 100%;
}

/* line 1027, style.scss */
.optional select {
  background-color: rgba(240, 230, 215, 0);
  color: #323452;
  font-size: 14px;
  border: 1px solid #323452;
  cursor: pointer;
}

/* line 1035, style.scss */
.optional input {
  background-color: rgba(240, 230, 215, 0);
  color: #323452;
  font-size: 14px;
  border: 1px solid #323452;
  cursor: pointer;
}

/* line 1042, style.scss */
.optional input::-webkit-input-placeholder {
  color: #6B6D9C;
}

/* line 1045, style.scss */
.optional input:-moz-placeholder {
  /* Firefox 18- */
  color: #6B6D9C;
}

/* line 1048, style.scss */
.optional input::-moz-placeholder {
  /* Firefox 19+ */
  color: #6B6D9C;
}

/* line 1051, style.scss */
.optional input:-ms-input-placeholder {
  color: #6B6D9C;
}

/* line 1055, style.scss */
input:-webkit-autofill {
  background-color: #f0e6d7 !important;
  -webkit-box-shadow: 0 0 0px 1000px #f0e6d7 inset;
  color: #323452 !important;
}

/* line 1061, style.scss */
input {
  background-color: #323452;
  color: #FF3A00;
  font-size: 14px;
  height: 20px;
  border-style: none;
  cursor: pointer;
  margin: 2px;
  padding: 1px;
  padding-right: 6px;
  padding-left: 6px;
}

/* line 1074, style.scss */
input[type=radio], input[type=checkbox] {
  height: 13px;
  width: 13px;
}

/* line 1079, style.scss */
label {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* line 1086, style.scss */
.row {
  padding-bottom: 20px;
}

/* line 1090, style.scss */
.left {
  text-align: left;
}

/* line 1094, style.scss */
#itemForm label {
  width: 90%;
  margin-bottom: 10px;
  min-height: 38px;
}

/* line 1100, style.scss */
.ui-state-default,
.ui-widget-content,
.ui-widget-header .ui-state-default {
  border: 1px solid #FF3A00;
  background: #323452 50% 50% repeat-x;
  font-weight: bold;
  color: #f0e6d7;
}
/* line 1107, style.scss */
.ui-state-default a,
.ui-widget-content a,
.ui-widget-header .ui-state-default a {
  color: #323452;
  font-weight: normal;
  text-decoration: none;
}
/* line 1111, style.scss */
.ui-state-default a:active,
.ui-widget-content a:active,
.ui-widget-header .ui-state-default a:active {
  color: #323452;
}
/* line 1112, style.scss */
.ui-state-default a:hover,
.ui-widget-content a:hover,
.ui-widget-header .ui-state-default a:hover {
  color: #323452;
  text-decoration: underline;
}
/* line 1116, style.scss */
.ui-state-default a:link,
.ui-widget-content a:link,
.ui-widget-header .ui-state-default a:link {
  color: #323452;
}
/* line 1117, style.scss */
.ui-state-default a:visited,
.ui-widget-content a:visited,
.ui-widget-header .ui-state-default a:visited {
  color: #323452;
}

/* line 1121, style.scss */
label.ui-state-active {
  background-color: #FF3A00;
  border: 1px solid #323452;
  font-weight: bold;
}

/* line 1127, style.scss */
input[type=button], input[type=submit] {
  background-color: #323452;
  color: #FF3A00;
  font-size: 14px;
  height: 20px;
  margin: 2px;
  box-shadow: 3px 3px 2px;
  border-style: none;
  cursor: pointer;
}

/* line 1138, style.scss */
input[type=button]:disabled, input[type=submit]:disabled {
  background-color: #6B6D9C;
  color: #FF8C6B;
  font-size: 14px;
  box-shadow: 3px 3px 2px;
  border-style: none;
}

/* line 1146, style.scss */
textarea {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  width: 90%;
  float: left;
}

/* line 1154, style.scss */
hr {
  display: block;
  height: 1px;
  width: 90%;
  border: 0;
  border-top: 2px solid #003F1F;
  margin: 1em auto;
  padding: 0;
}

/* line 1164, style.scss */
p.title {
  font-size: 21px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* line 1169, style.scss */
p.title2 {
  font-size: 17.5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* line 1176, style.scss */
#ordertable tr {
  height: 40px;
}
/* line 1179, style.scss */
#ordertable td {
  width: 160px;
  text-align: left;
}

/* line 1185, style.scss */
#leftorder {
  text-align: center;
}
/* line 1187, style.scss */
#leftorder a {
  font-size: 10.5px;
  vertical-align: text-top;
}
/* line 1191, style.scss */
#leftorder a.orderinfo {
  font-size: 14px;
  vertical-align: text-top;
}

/* line 1197, style.scss */
.menu_table {
  display: inline-table;
  width: 94%;
}
/* line 1200, style.scss */
.menu_table tr {
  height: 20px;
}
/* line 1203, style.scss */
.menu_table td {
  text-align: center;
  font-size: 14px;
}
/* line 1207, style.scss */
.menu_table th {
  text-align: center;
  font-size: 14px;
}
/* line 1211, style.scss */
.menu_table td.firstcol {
  text-align: left;
  font-size: 14px;
}
/* line 1215, style.scss */
.menu_table th.firstcol {
  text-align: left;
  font-size: 14px;
}
/* line 1219, style.scss */
.menu_table th.category {
  text-align: left;
  font-size: 21px;
}
/* line 1223, style.scss */
.menu_table th.subcategory {
  text-align: left;
  font-size: 17.5px;
}
/* line 1227, style.scss */
.menu_table td.notes {
  text-align: left;
  font-size: 14px;
  font-style: italic;
}
/* line 1232, style.scss */
.menu_table td.allcol {
  text-align: left;
  column-span: all;
  -webkit-column-span: all;
}
/* line 1237, style.scss */
.menu_table input[type="text"].size {
  width: 80px;
}
/* line 1241, style.scss */
.menu_table input[type="text"].description {
  width: 100%;
}
/* line 1245, style.scss */
.menu_table input[type="number"] {
  width: 35px;
}

/* line 1251, style.scss */
#itemtable {
  display: inline-table;
  width: 94%;
}
/* line 1254, style.scss */
#itemtable tr {
  height: 20px;
}
/* line 1257, style.scss */
#itemtable td {
  text-align: left;
  font-size: 14px;
}
/* line 1261, style.scss */
#itemtable th {
  text-align: left;
  font-size: 14px;
}
/* line 1265, style.scss */
#itemtable td.firstcol {
  text-align: left;
  font-size: 14px;
  width: 100px;
}
/* line 1270, style.scss */
#itemtable th.firstcol {
  text-align: left;
  font-size: 14px;
  width: 100px;
}
/* line 1275, style.scss */
#itemtable th.category {
  text-align: left;
  font-size: 21px;
}
/* line 1279, style.scss */
#itemtable th.subcategory {
  text-align: left;
  font-size: 17.5px;
}
/* line 1283, style.scss */
#itemtable td.notes {
  text-align: left;
  font-size: 14px;
  font-style: italic;
}
/* line 1288, style.scss */
#itemtable td.submit {
  text-align: center;
}
/* line 1291, style.scss */
#itemtable td.allcol {
  text-align: left;
  column-span: all;
  -webkit-column-span: all;
}
/* line 1296, style.scss */
#itemtable input[type="text"].size {
  width: 80px;
}
/* line 1300, style.scss */
#itemtable input[type="text"].description {
  width: 100%;
}
/* line 1304, style.scss */
#itemtable input[type="number"] {
  width: 35px;
}
/* line 1308, style.scss */
#itemtable input[type="submit"] {
  align: center;
}

/* line 1314, style.scss */
#fullorder {
  width: 100%;
}
/* line 1316, style.scss */
#fullorder tr, #fullorder td, #fullorder th {
  text-align: center;
}
/* line 1319, style.scss */
#fullorder tr.money, #fullorder td.money {
  text-align: right;
}
/* line 1322, style.scss */
#fullorder select {
  width: 90%;
}
/* line 1325, style.scss */
#fullorder input[type="text"] {
  width: 90%;
}
/* line 1328, style.scss */
#fullorder input[type="email"] {
  width: 90%;
}
/* line 1331, style.scss */
#fullorder input[type="number"] {
  width: 90%;
}
/* line 1334, style.scss */
#fullorder input[type="tel"] {
  width: 90%;
}
/* line 1337, style.scss */
#fullorder input[type="month"] {
  width: 90%;
}

/* line 1342, style.scss */
#quanitynumber {
  width: 100%;
}

/* line 1346, style.scss */
table {
  font-size: 14px;
  width: 100%;
  max-width: 320px;
  border-spacing: 10px;
}

/* line 1353, style.scss */
tr.delivery-location {
  font-size: 11.2px;
  font-weight: normal;
  text-indent: 0px;
  display: block;
  margin: 5px;
  padding: 0px;
  border: solid 2px #323452;
  border-radius: 15px;
  color: #323452;
  border-color: #323452;
}

/* line 1358, style.scss */
body.dragging, body.dragging * {
  cursor: move !important;
}

/* line 1362, style.scss */
.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

/* line 1368, style.scss */
ol.example li.placeholder {
  position: relative;
  /** More li styles **/
}

/* line 1372, style.scss */
ol.example li.placeholder:before {
  position: absolute;
  /** Define arrowhead **/
}

/* line 1377, style.scss */
[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../img/glyphicons-halflings-orange.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
  cursor: pointer;
  cursor: hand;
}

/* line 70, ../../vendor/ruby/1.8/bundler/gems/sass-twitter-bootstrap-06795315e047/lib/bootstrap/_mixins.scss */
/* line 1390, style.scss */
[class^="icon-"]:last-child,
[class*=" icon-"]:last-child {
  *margin-left: 0;
}

/* line 1394, style.scss */
.icon-cancel {
  background-position: -312px 0px;
}

/* line 1397, style.scss */
.icon-add {
  background-position: -408px -96px;
}

/* line 1400, style.scss */
.icon-pencil {
  background-position: -0px -72px;
}

/* line 1403, style.scss */
.icon-move {
  background-position: -168px -72px;
}

/* line 1406, style.scss */
.icon-move-list {
  background-position: -168px -72px;
}

/* line 1409, style.scss */
.icon-move-category {
  background-position: -168px -72px;
}

/* line 1412, style.scss */
.icon-move-subcategory {
  background-position: -168px -72px;
}

/* line 1415, style.scss */
.icon-move-item {
  background-position: -168px -72px;
}

/* line 1418, style.scss */
.icon-move-group {
  background-position: -168px -72px;
}

/* line 1421, style.scss */
.icon-move-option {
  background-position: -168px -72px;
}

/* line 1424, style.scss */
ol {
  list-style-type: none;
}

/* line 34, application.css.sass */
/* line 1427, style.scss */
ol i.icon-move {
  cursor: pointer;
}

/* line 36, application.css.sass */
/* line 1430, style.scss */
ol li.highlight {
  background: #333333;
  color: #999999;
}

/* line 39, application.css.sass */
/* line 1434, style.scss */
ol li.highlight i.icon-move {
  background-image: url("../img/glyphicons-halflings-white.png");
}

/* line 1438, style.scss */
ol {
  margin: 0 0 0 0;
  text-indent: 0px;
  margin-left: 0px;
  padding-left: 0px;
}

/* line 12, jquery-sortable.css.sass */
  /*
  ol li {
	font-size: .8*$font-size;
	font-weight: normal;
	text-indent:0px;
    display: block;
    margin: 5px;
    padding: 0px;
    border: solid 2px $dark-color;
    border-radius: $radius-width;
	color: $dark-color;
    border-color: $dark-color; }
  */
/* line 19, jquery-sortable.css.sass */
/* line 1458, style.scss */
ol.category li {
  font-size: 11.2px;
  font-weight: normal;
  text-indent: 0px;
  display: block;
  margin: 5px;
  padding: 0px;
  border: solid 2px #323452;
  border-radius: 15px;
  color: #323452;
  border-color: #323452;
}

/* line 1461, style.scss */
ol.category-pallet li {
  font-size: 11.2px;
  font-weight: normal;
  text-indent: 0px;
  display: block;
  margin: 5px;
  padding: 0px;
  border: solid 2px #323452;
  border-radius: 15px;
  color: #323452;
  border-color: #323452;
}

/* line 1464, style.scss */
ol.subcategory li {
  font-size: 11.2px;
  font-weight: normal;
  text-indent: 0px;
  display: block;
  margin: 5px;
  padding: 0px;
  border: solid 2px #323452;
  border-radius: 15px;
  color: #323452;
  border-color: #8BD45A;
}

/* line 1467, style.scss */
ol.subcategory-pallet li {
  font-size: 11.2px;
  font-weight: normal;
  text-indent: 0px;
  display: block;
  margin: 5px;
  padding: 0px;
  border: solid 2px #323452;
  border-radius: 15px;
  color: #323452;
  border-color: #8BD45A;
}

/* line 1470, style.scss */
ol.item li {
  font-size: 11.2px;
  font-weight: normal;
  text-indent: 0px;
  display: block;
  margin: 5px;
  padding: 0px;
  border: solid 2px #323452;
  border-radius: 15px;
  color: #323452;
  border-color: #6C00B5;
}

/* line 1473, style.scss */
ol.item-pallet li {
  font-size: 11.2px;
  font-weight: normal;
  text-indent: 0px;
  display: block;
  margin: 5px;
  padding: 0px;
  border: solid 2px #323452;
  border-radius: 15px;
  color: #323452;
  border-color: #6C00B5;
}

/* line 1476, style.scss */
ol.group li {
  font-size: 11.2px;
  font-weight: normal;
  text-indent: 0px;
  display: block;
  margin: 5px;
  padding: 0px;
  border: solid 2px #323452;
  border-radius: 15px;
  color: #323452;
  border-color: #8BD45A;
}

/* line 1479, style.scss */
ol.group-pallet li {
  font-size: 11.2px;
  font-weight: normal;
  text-indent: 0px;
  display: block;
  margin: 5px;
  padding: 0px;
  border: solid 2px #323452;
  border-radius: 15px;
  color: #323452;
  border-color: #8BD45A;
}

/* line 1482, style.scss */
ol.option li {
  font-size: 11.2px;
  font-weight: normal;
  text-indent: 0px;
  display: block;
  margin: 5px;
  padding: 0px;
  border: solid 2px #323452;
  border-radius: 15px;
  color: #323452;
  border-color: #6C00B5;
}

/* line 1485, style.scss */
ol.option-pallet li {
  font-size: 11.2px;
  font-weight: normal;
  text-indent: 0px;
  display: block;
  margin: 5px;
  padding: 0px;
  border: solid 2px #323452;
  border-radius: 15px;
  color: #323452;
  border-color: #6C00B5;
}

/* line 1489, style.scss */
ol li.placeholder {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
}

/* line 24, jquery-sortable.css.sass */
/* line 1495, style.scss */
ol li.placeholder:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  margin-top: -5px;
  left: -5px;
  top: -4px;
  border: 5px solid transparent;
  border-left-color: #FF3A00;
  border-right: none;
}

/* line 1507, style.scss */
table tr.placeholder {
  position: relative;
  margin: 0;
  padding: 0;
  outline: 2px dotted #6C00B5;
}

/* line 24, jquery-sortable.css.sass */
/* line 1514, style.scss */
table tr.placeholder:before {
  position: relative;
  content: "";
  width: 0;
  height: 0;
  margin-top: 0px;
  left: -5px;
  top: 0px;
}

/* line 1525, style.scss */
div.trash {
  background-image: url("../img/trash.png");
  background-size: 100px;
  min-height: 100px;
  width: 100px;
}

/* line 1533, style.scss */
.ui-widget-content {
  border: 1px solid #323452;
  background: #f0e6d7 50% bottom repeat-x;
  color: #323452;
}

/* line 1539, style.scss */
.ui-widget-content a {
  color: #323452;
}

/* line 1542, style.scss */
.ui-widget-header {
  border: 1px solid #323452;
  background: #323452 50% 50% repeat-x;
  color: #FF3A00;
  font-weight: bold;
}

/* line 1548, style.scss */
.ui-widget-header a {
  color: #323452;
}

/* line 1553, style.scss */
.ui-state-default .ui-accordion-header a {
  color: #323452;
  font-weight: normal;
  text-decoration: none;
}
/* line 1557, style.scss */
.ui-state-default .ui-accordion-header a:active {
  color: #323452;
}
/* line 1558, style.scss */
.ui-state-default .ui-accordion-header a:hover {
  color: #323452;
  text-decoration: underline;
}
/* line 1562, style.scss */
.ui-state-default .ui-accordion-header a:link {
  color: #323452;
}
/* line 1563, style.scss */
.ui-state-default .ui-accordion-header a:visited {
  color: #323452;
}

/* line 1567, style.scss */
.ui-button {
  radius: 0px;
}

/* line 1571, style.scss */
a.anchor {
  display: block;
  position: relative;
  top: 30px;
  visibility: hidden;
}
