/* style.scss */
@import "compass";

/* check check */

/* color variables */

$dark-color: #323452; //used to be #1F2033;
$dark-div-color: rgba(50, 52, 82, 0.2);
$light-color: #f0e6d7; //used to be rgba(240, 230, 215, 1);
$div-color: rgba(240, 230, 215, 0.8);
$clear-color: rgba(240, 230, 215, 0);
$logo-color: #FF3A00;
$highlight-color: #8BD45A;
$lowlight-color: #6C00B5;

/* button color variables */

$disabled-background-color: #6B6D9C;
$disabled-font-color: #FF8C6B; //used to be#9EB391;

/* size variables */

$total-width: 940px;
$column-width: 40px;
$gutter-width: 20px;
$padding-width: 10px;
$radius-width: 15px;
$margin-top: 5px;
$margin-bottom: 2px;
$shadow-offset: 2px;
$font-size: 14px;


/* mixins */

@mixin height($x, $padding: 0px) {
	min-height: $x * $column-width + ( $x - 1 ) * $gutter-width - 2 * $padding;
}

@mixin width($x, $padding: 0px) {
	width: $x * $column-width + ( $x - 1 ) * $gutter-width - 2 * $padding;
}

@mixin top($x, $padding: 0px) {
	top: $x * $column-width + $x * $gutter-width - $padding;
}

@mixin left($x) {
	left: $x * $column-width + $x * $gutter-width;
}

@mixin max-height($x, $padding: 0px) {
	max-height: $x * $column-width + ( $x - 1 ) * $gutter-width - 2 * $padding;
}

@mixin block-div($top, $left, $height, $width, $padding: $padding-width) {
	display: inline-block;
	position: absolute;
	background-color: $div-color;
	
	top: $top;
	left: $left;
	min-height: $height;
	width: $width;
	
	border-radius: $radius-width;
	opacity: 1;
	z-index: 1;
}

@mixin container {
	display: inline-block;
	opacity: 1;
	padding: 0px;
}

@mixin content {
	display: inline-block;
	opacity: 1;
}

@mixin sortol {
	font-size: .8*$font-size;
	font-weight: normal;
	text-indent:0px;
    display: block;
    margin: 5px;
    padding: 0px;
    border: solid 2px $dark-color;
    border-radius: $radius-width;
	color: $dark-color;
}

@mixin span($this,$that) {
	width: ($this/$that) * 100%;
}


/* styles */

@font-face{
    font-family: "Cheeseburger";
    src: url('CHEESEBU.ttf');
}
	
body {
	font: $font-size arial, helvetica, sans-serif;
	color: $dark-color;
	background-color: #ffffff;
	@media(max-width: 480px) {
		/* hey Melissa!! */
		/* hey Melissa!!! */
		background: url('../img/background8-small.jpg') no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	@media(min-width: 481px) {
		background: url('../img/background8.jpg') no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment:fixed;
	margin: 0px;
	top: 0px;
	padding-top: 0px;
	position: absolute;
	height: 100%;
	width:100%;
	max-width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
}

html {
    height: 100%;
    max-width: 100%;
}

a {
	color:$dark-color;
	font-weight:normal;
	text-decoration:none;
	cursor:pointer;
	&:active  {color:$dark-color;}
	&:hover {
		color:$dark-color;
		text-decoration:underline;
		}
	&:link {color:$dark-color;}
	&:visited {color:$dark-color;}
	img {
    border:none;
	}
}

img.holiday {
	max-width: 100%;
}

.content {
	box-sizing: border-box;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	padding: 10px;
}

div.top_nav {
	position: relative;
	top:0px;
	left:0px;
	width:100%;
	margin: 0px;
	background-color:$dark-color;
	color: $light-color;
	@include content;
	z-index: 2;
	a {
		color: $light-color;
	}
}

div.top_nav_content {
	position:relative;
	top: 0px;
	width: $total-width;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
	display: table;
	line-height: 0;
}

div.top_nav_table_row {
	position:relative;
	top: 0px;
	width: $total-width;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
	display: table-row;
	line-height: 0;
}

div.logo_div
{
	display: table-cell;
	width: 15%;
}

img.logo
{
	width: 100%;
	max-width: 80px;
}

div.slogan_outer_div
{
	position: relative;
	display: table-cell;
	width: 62%;
	height: 80px;
}

div.slogan_inner_div
{
	position: absolute;
	top: 50%;
	height: 20px;
	display: inline-block;
	font-size: $font-size*1.5; /* Cheeseburger;*/
	width: 100%;
	color: ffffff;
}

div.nav_outer_div
{
	position: relative;
	display: table-cell;
	width: 20%;
	height: 100%;
	vertical-align: middle;
}

div.nav_inner_div
{
	position: relative;
	display: inline-block;
	width: 100%;
	text-align: right;
	color: ffffff;
	line-height: 1.25;
	a{color:ffffff;}
}

div.page_container {
	position: relative;
	top: 0px;
	max-width: $total-width;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: $column-width;
	@include container;
	display: block;
}

div.ribbon_container
{
	position: relative;
	display: inline-block;
	width: 100%;
	margin-top: 20px;
}

div.ribbon_container_content
{
	position: relative;
	display: inline-block;
}

div.ribbon
{
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: 80px;
	width: 100%;
	background-color:$logo-color;
}

div.ribbon_border
{
	border: solid 2px $dark-color;
}

div.ribbon_content
{
	position:relative;
	top: 0px;
	width: $total-width;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
	display: block;
	min-height:	244px;
}

div.ribbon_phrase_outer_div
{
	position: relative;
	display: inline-block;
	width: 50%;
	height: 80px;
	top: 82px;
}

div.ribbon_phrase_inner_div
{
	position: absolute;
	top: 50%;
	height: 56px;
	margin-top: -28px;
	display: inline-block;
	font-size: $font-size*1.75; /* Cheeseburger;*/
	width: 100%;
	color: ffffff;
	text-align: center;
}

div.ribbon_search_outer_div
{
	position: absolute;
	display: inline-block;
	width: 49%;
	height: 80px;
	top: 82px;
	text-align: center;
}

div.ribbon_search_inner_div
{
	position: relative;
	top: -88px;
	height: 255px;
	display: inline-flex;
	font-size: $font-size*2; /* Cheeseburger;*/
	width: 320px;
	color: ffffff;
	text-align: center;
	margin: auto auto;
	div.solid_block_div
	{
		top: 0px;
	}
}

div.solid_block_div
{
	@include block-div(0,0,180px,320px,0);
	background-color:$light-color;
	text-align: center;
	position: relative;
	margin: auto 0px;
}

div.solid_block_title
{
	@include block-div(0,0,30px,320px);
	position: relative;
	height: 50;
	background-color:$dark-color;
	color: $light-color;
	text-align: center;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

div.solid_block_body
{
	@include block-div(0,0,30px,320px);
	position: relative;
	background-color:$light-color;
	color: $dark-color;
	text-align: center;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

form
{
	margin: 0 auto;
	text-align: center;
}

div.icon_row
{
	@include block-div(0,0,180px,100%,0);
	text-align: center;
	position: relative;
	margin-top: 20px;
	div {
		div {
			margin-top: 10px;
			margin-bottom: 10px;
		}
	}
}

div.icon_column
{
	display: inline-block;
	width: 25%;
}

div.login_container
{
	position: relative;
	display: inline-block;
	width: 50%;
}

div.login_div
{
	@include block-div(0,0,60px,320px,0);
	display: block;
	text-align: center;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

div.login_title
{
	@include block-div(0,0,30px,320px);
	position: relative;
	height: 50;
	background-color:$dark-color;
	color: $light-color;
	text-align: center;
	font-size: $font-size*2;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

div.login_body
{
	@include block-div(0,0,30px,320px,0);
	position: relative;
	background-color:$light-color;
	color: $dark-color;
	text-align: center;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

div.social_menu
{
	@include block-div(0,0,0,320px,0);
	display: block;
	text-align: center;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	padding-top: $gutter-width;
	padding-bottom: $gutter-width;
}

div.register_container
{
	position: relative;
	display: inline-block;
	width: 49%;
}

div.register_div
{
	@include block-div(0,0,60px,320px,0);
	display: block;
	text-align: center;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

div.register_title
{
	@include block-div(0,0,30px,320px);
	position: relative;
	height: 50;
	background-color:$dark-color;
	color: $light-color;
	text-align: center;
	font-size: $font-size*2;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

div.register_body
{
	@include block-div(0,0,30px,320px,0);
	position: relative;
	background-color:$light-color;
	color: $dark-color;
	text-align: center;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

div.bottom_bar {
	@include block-div(0,0,0,100%, 0);
	position: relative;
	text-align: center;
	margin-bottom: $gutter-width;
	margin-top: 20px;
	padding-top: $gutter-width;
	padding-bottom: $gutter-width;
}

#main_body {
	min-height: 300px;
}

.regular {
	font-weight: normal;
	a {
		font-weight: bold;
	}
}

.restaurant_category {
	display: none;
}

.row_0 {
	background-color: $dark-div-color;
}

.subcategory {
	background-color:$dark-color;
    color: $logo-color;
    text-align: left;
    vertical-align: middle;
    border-radius: $radius-width;
    padding-left: $radius-width/2;
    padding-right: $radius-width/2;
    padding-top: $radius-width/5;
    padding-bottom: $radius-width/5;
    &:hover {
		background-color:$logo-color;
		color:$dark-color;
		}
    div {
    	display: inline-block;
    	vertical-align: middle;
		span {
			background-image: url(images/ui-icons_ffffff_256x240.png);
			color: $light-color;
		}
	}
}

.price_array {
	width: 0px;
	height: 0px;
	overflow: hidden;
}

.item {
	text-align: left;
}

.icon {
	width: 20%;
}

.tip_table {
	td, th {
		width: 50%;
	}
	input[type=number], input[type=button], , input[type=submit] {
		width: 90%;
	}
}

#left_categories {
	> div {
		display: none;
	}
}

.money {
	text-align:right;
}

.subtotal {
	margin-top: 10px !important;
	text-align:right;
}

.header {
	font-size: 1.25*$font-size;
	font-weight: bold;
	margin-bottom: 10px !important;
}

.choose_address {
	text-align: center;
	a {
		font-size: 14px;
	}
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: inline-block;
	float:left;
	margin: 0 0 0 0;
}
.col:first-child { 
	margin-left: 0;
}


/*  GROUPING  */
.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}

/*  GRID OF TWO  */
.span_2_of_2 {
	@include span(2,2);
}
.span_1_of_2 {
	@include span(1,2);
}

/*  GRID OF THREE  */
.span_3_of_3 {
	@include span(3,3);
}
.span_2_of_3 {
	@include span(2,3);
}
.span_1_of_3 {
	@include span(1,3);
}

/*  GRID OF FOUR  */
.span_4_of_4 {
	@include span(4,4);
}
.span_3_of_4 {
	@include span(3,4);
}
.span_2_of_4 {
	@include span(2,4);
}
.span_1_of_4 {
	@include span(1,4);
}

/*  GRID OF FIVE  */
.span_5_of_5 {
	@include span(5,5);
}
.span_4_of_5 {
	@include span(4,5);
}
.span_3_of_5 {
	@include span(3,5);
}
.span_2_of_5 {
	@include span(2,5);
}
.span_1_of_5 {
	@include span(1,5);
}

/*  GRID OF TWENTY  */
.span_1_of_20 {
	@include span(1,20);
}
.span_2_of_20 {
	@include span(2,20);
}
.span_3_of_20 {
	@include span(3,20);
}
.span_4_of_20 {
	@include span(4,20);
}
.span_5_of_20 {
	@include span(5,20);
}
.span_6_of_20 {
	@include span(6,20);
}
.span_14_of_20 {
	@include span(14,20);
}
.span_16_of_20 {
	@include span(16,20);
}
.span_18_of_20 {
	@include span(18,20);
}
.span_19_of_20 {
	@include span(19,20);
}
.span_20_of_20 {
	@include span(20,20);
}

.desktop {
	width: 100%;
	height: inherit;
}

.tablet {
	width: 0px;
	height: 0px;
	overflow: hidden;
}

@media only screen and (max-width: 940px) {
	
	div.top_nav_content {
		width: 100%;
	}
	div.page_container {
		width: 100%;
	}
	div.ribbon_content {
		width: 100%;
	}
}

/*  GO HALF WIDTH AT LESS THAN 720 PIXELS */

@media only screen and (max-width: 720px) {
	
	div.slogan_outer_div {
		width: 0px;
		height:	0px;
		overflow: hidden;
	}
	div.slogan_inner_div {
		width: 0px;
		height:	0px;
		overflow: hidden;
	}
	div.nav_outer_div {
		width: 80%;
	}
	div.ribbon_phrase_outer_div {
		width: 100%;
		top: 0px;
	}
	div.ribbon_search_outer_div {
		width: 100%;
		top: 188px;
		left: 0px;
	}
	div.ribbon_container {
		height: 355px;
	}
	div.ribbon {
		bottom: 275px;
	}
	
	.span_4_of_4 {
		width: 99%; 
	}
	.span_3_of_4 {
		width: 99%; 
	}
	.span_2_of_4 {
		width: 49%; 
	}
	.span_1_of_4 {
		width: 49%;
	}
	.span_1_to_2_of_4 {
		width: 99%;
	}
	
	.span_2_of_2 {
		width: 99%; 
	}
	.span_1_of_2 {
		width: 49%;
	}
	.span_1_to_2_of_2 {
		width: 99%;
	}
	
	.price_array {
		width: 49%;
		height: inherit;
	}
	
	.prices {
		width: 0px;
		height: 0px;
		overflow: hidden;
	}
	
	.desktop {
		width: 0px;
		height: 0px;
		overflow: hidden;
	}
	
	.tablet {
		width: 100%;
		height: inherit;
	}
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	
	.span_2_of_2 {
		width: 99%; 
	}
	.span_1_of_2 {
		width: 49%;
	}
	.span_1_to_2_of_2 {
		width: 99%;
	}
	
	.span_3_of_3 {
		width: 99%; 
	}
	.span_2_of_3 {
		width: 99%; 
	}
	.span_1_of_3 {
		width: 99%;
	}
	.span_4_of_4 {
		width: 99%; 
	}
	.span_3_of_4 {
		width: 99%; 
	}
	.span_2_of_4 {
		width: 99%; 
	}
	.span_1_of_4 {
		width: 49%;
	}
	.span_1_to_2_of_4 {
		width: 99%;
	}
	
	.column {
		width: 99%;
	}
	
	.item {
		width: 49%;
		height: inherit;
	}
	
	.subtotal {
		text-align:center;
	}
	
	.prices {
		width: 0px;
		height: 0px;
		overflow: hidden;
	}
	
	.price_array {
		width: 49%;
		height: inherit;
	}
}

#main_left_content.fixed {
  position: fixed;
  top: 0;
}

#main_left_content.bottom {
    position: absolute;
    bottom: 0;
}
	
.alert {
	position:relative;
	background-color:rgba(255, 58, 0, 0.7);
	padding:6px;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
	border-radius: 15px;
	opacity: 1;
	z-index: 2;
	}

.test {
	text-align: center !important;
	color: $logo-color;
	background: $dark-color none repeat scroll 0 0;
	border-radius:10px;
	a {
		color:$logo-color;
		font-weight:normal;
		text-decoration:none;
		&:active  {color:$logo-color;}
		&:hover {
			color:$logo-color;
			text-decoration:underline;
			}
		&:link {color:$logo-color;}
		&:visited {color:$logo-color;}
	}
	div
	{
		display: inline-block;
		width: 10px;
	}
	div::after
	{
		content:"\00a0 *";
	}
}

#registrationtable {
	margin: 0 auto;

	th.center, td.center {
		text-align: center;
	}
}


	#registrationtable th.optional, td.optional {
		text-align: center !important;
		color: #1F2033;
		width: 100px;
		div
		{
			display: inline-block;
			width: 10px;
		}
		div:not(.check)::after
		{
			content:'\2713';
		}
	}
	#registrationtable input[type="text"],
	#registrationtable input[type="password"],
	#registrationtable input[type="number"],
	#registrationtable input[type="email"],
	#registrationtable input[type="tel"],
	#registrationtable select[type="text"] {
    	width: 89%;
		}
	#registrationtable input.short {
    	width: 75%;
		}
	#registrationtable input.exp_month {
    	width: 25%;
		}
	#registrationtable input.exp_year {
    	width: 25%;
		}

    	
select {
	background-color:$dark-color;
	color: $logo-color;
	font-size:$font-size;
	height: 20px;
	margin:2px;
	border-style:none;
	cursor:pointer;
	max-width: 100%;
	}
	
.optional select {
	background-color:$clear-color;
	color: $dark-color;
	font-size:$font-size;
	border: 1px solid $dark-color;
	cursor:pointer;
}

.optional input {
	background-color:$clear-color;
	color: $dark-color;
	font-size:$font-size;
	border: 1px solid $dark-color;
	cursor:pointer;
}
.optional input::-webkit-input-placeholder {
   color: $disabled-background-color;
}
.optional input:-moz-placeholder { /* Firefox 18- */
   color: $disabled-background-color;  
}
.optional input::-moz-placeholder {  /* Firefox 19+ */
   color: $disabled-background-color;  
}
.optional input:-ms-input-placeholder {  
   color: $disabled-background-color;  
}

input:-webkit-autofill {
	background-color: $light-color !important;
	-webkit-box-shadow: 0 0 0px 1000px $light-color inset;
	color: $dark-color !important;
}

input {
	background-color:$dark-color;
	color: $logo-color;
	font-size:$font-size;
	height: 20px;
	border-style:none;
	cursor:pointer;
	margin:2px;
	padding:1px;
	padding-right:6px;
	padding-left:6px;
	}
	
input[type=radio], input[type=checkbox] {
	height:13px;
	width:13px;
	}

label {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.row {
	padding-bottom: 20px;
}

.left {
	text-align: left;
}

	#itemForm label {
		width: 90%;
		margin-bottom: 10px; 
		min-height:	38px;
	}
    
.ui-state-default,
.ui-widget-content,
.ui-widget-header .ui-state-default {
	border: 1px solid $logo-color;
	background: $dark-color /* url(images/ui-bg_highlight-soft_60_4ca20b_1x100.png) */ 50% 50% repeat-x;
	font-weight: bold;
	color: $light-color;
	a {
			color:$dark-color;
			font-weight:normal;
			text-decoration:none;
			&:active  {color:$dark-color;}
			&:hover {
				color:$dark-color;
				text-decoration:underline;
				}
			&:link {color:$dark-color;}
			&:visited {color:$dark-color;}
		}
}
    
    label.ui-state-active {
    	background-color:$logo-color;
    	border: 1px solid $dark-color;
    	font-weight: bold;
    }
		
	input[type=button], input[type=submit] {
    	background-color:$dark-color;
    	color: $logo-color;
    	font-size:$font-size;
    	height: 20px;
    	margin:2px;
    	box-shadow:3px 3px 2px;
    	border-style:none;
    	cursor:pointer;
    	}
    	
     input[type=button]:disabled, input[type=submit]:disabled {
    	background-color:$disabled-background-color;
    	color: $disabled-font-color;
    	font-size:$font-size;
    	box-shadow:3px 3px 2px;
    	border-style:none;
    	}
    	
    textarea {
    	box-sizing: border-box;
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box; /* Firefox, other Gecko */
    	width: 90%;
    	float: left;
    }
	
	hr {
		display: block;
		height: 1px;
		width: 90%;
  	border: 0;
  	border-top: 2px solid #003F1F;
  	margin: 1em auto;
  	padding: 0;
	}
    	
p.title {
	font-size:1.5*$font-size;
	margin-top:$margin-top;
	margin-bottom:$margin-top;
}
p.title2 {
	font-size:1.25*$font-size;
	margin-top:$margin-top;
	margin-bottom:$margin-top;
}

#ordertable {
	tr {
		height:$column-width;
	}
	td {
		@include width(3);
		text-align:left;
	}
}

#leftorder {
	text-align:center;
	a {
		font-size:.75*$font-size;
		vertical-align:text-top;
	}
	a.orderinfo {
		font-size:$font-size;
		vertical-align:text-top;
	}
}

.menu_table {
	display: inline-table;
	width:94%;
	tr {
		height:$gutter-width;
	}
	td {
		text-align:center;
		font-size:$font-size;
	}
	th {
		text-align:center;
		font-size:$font-size;
	}
	td.firstcol {
		text-align:left;
		font-size:$font-size;
	}
	th.firstcol {
		text-align:left;
		font-size:$font-size;
	}
	th.category {
		text-align:left;
		font-size:1.5*$font-size;
	}
	th.subcategory {
		text-align:left;
		font-size:1.25*$font-size;
	}
	td.notes {
		text-align:left;
		font-size:$font-size;
		font-style:italic
	}
	td.allcol {
		text-align:left;
		column-span:all;
		-webkit-column-span:all;
	}
	input[type="text"].size
	{
		@include width(2,$margin-top*2);
	}
	input[type="text"].description
	{
		width: 100%;
	}
	input[type="number"]
	{
		width: 35px;
	}
}

#itemtable {
	display: inline-table;
	width:94%;
	tr {
		height:$gutter-width;
	}
	td {
		text-align:left;
		font-size:$font-size;
	}
	th {
		text-align:left;
		font-size:$font-size;
	}
	td.firstcol {
		text-align:left;
		font-size:$font-size;
		width:100px;
	}
	th.firstcol {
		text-align:left;
		font-size:$font-size;
		width:100px;
	}
	th.category {
		text-align:left;
		font-size:1.5*$font-size;
	}
	th.subcategory {
		text-align:left;
		font-size:1.25*$font-size;
	}
	td.notes {
		text-align:left;
		font-size:$font-size;
		font-style:italic
	}
	td.submit {
		text-align:center;
	}
	td.allcol {
		text-align:left;
		column-span:all;
		-webkit-column-span:all;
	}
	input[type="text"].size
	{
		@include width(2,$margin-top*2);
	}
	input[type="text"].description
	{
		width: 100%;
	}
	input[type="number"]
	{
		width: 35px;
	}
	input[type="submit"]
	{
		align:center;
	}
}

#fullorder {
	width: 100%;
	tr, td, th {
		text-align:center;
	}
	tr.money, td.money {
		text-align:right;
	}
	select {
        width:90%;
    }
    input[type="text"] {
        width:90%;
    }
    input[type="email"] {
        width:90%;
    }
    input[type="number"] {
        width:90%;
    }
    input[type="tel"] {
        width:90%;
    }
    input[type="month"] {
        width:90%;
    }
}

#quanitynumber {
	width: 100%;
}

table {
	font-size:$font-size;
	width: 100%;
	max-width: 320px;
	border-spacing: $padding-width;
}

tr.delivery-location {
    @include sortol;
	border-color: $dark-color;
}

body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

ol.example li.placeholder {
  position: relative;
  /** More li styles **/
}
ol.example li.placeholder:before {
  position: absolute;
  /** Define arrowhead **/
}

[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../img/glyphicons-halflings-orange.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
  cursor: pointer; cursor: hand;}
  /* line 70, ../../vendor/ruby/1.8/bundler/gems/sass-twitter-bootstrap-06795315e047/lib/bootstrap/_mixins.scss */
  [class^="icon-"]:last-child,
  [class*=" icon-"]:last-child {
    *margin-left: 0; }

.icon-cancel {
  background-position: -312px 0px; }
  
.icon-add {
  background-position: -408px -96px; }
  
.icon-pencil {
  background-position: -0px -72px; }

.icon-move {
  background-position: -168px -72px; }
  
.icon-move-list {
  background-position: -168px -72px; }
  
.icon-move-category {
  background-position: -168px -72px; }
  
.icon-move-subcategory {
  background-position: -168px -72px; }
  
.icon-move-item {
  background-position: -168px -72px; }
  
.icon-move-group {
  background-position: -168px -72px; }
  
.icon-move-option {
  background-position: -168px -72px; }
  
ol {
  list-style-type: none; }
  /* line 34, application.css.sass */
  ol i.icon-move {
    cursor: pointer; }
  /* line 36, application.css.sass */
  ol li.highlight {
    background: #333333;
    color: #999999; }
    /* line 39, application.css.sass */
    ol li.highlight i.icon-move {
      background-image: url("../img/glyphicons-halflings-white.png"); }


ol {
  margin: 0 0 0 0;
  text-indent:0px;
  margin-left: 0px;
  padding-left: 0px; }
  /* line 12, jquery-sortable.css.sass */
  /*
  ol li {
	font-size: .8*$font-size;
	font-weight: normal;
	text-indent:0px;
    display: block;
    margin: 5px;
    padding: 0px;
    border: solid 2px $dark-color;
    border-radius: $radius-width;
	color: $dark-color;
    border-color: $dark-color; }
  */
  /* line 19, jquery-sortable.css.sass */
  ol.category li {
    @include sortol;
    border-color: $dark-color; }
  ol.category-pallet li {
    @include sortol;
	border-color: $dark-color; }
  ol.subcategory li {
    @include sortol;
    border-color: $highlight-color; }
  ol.subcategory-pallet li {
    @include sortol;
	border-color: $highlight-color; }
  ol.item li {
    @include sortol;
	border-color: $lowlight-color; }
  ol.item-pallet li {
    @include sortol;
	border-color: $lowlight-color; }
  ol.group li {
    @include sortol;
	border-color: $highlight-color; }
  ol.group-pallet li {
    @include sortol;
	border-color: $highlight-color; }
  ol.option li {
    @include sortol;
	border-color: $lowlight-color; }
  ol.option-pallet li {
    @include sortol;
	border-color: $lowlight-color; }
  
  ol li.placeholder {
    position: relative;
    margin: 0;
    padding: 0;
    border: none; }
    /* line 24, jquery-sortable.css.sass */
    ol li.placeholder:before {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      margin-top: -5px;
      left: -5px;
      top: -4px;
      border: 5px solid transparent;
      border-left-color: $logo-color;
      border-right: none; }
      
  table tr.placeholder {
    position: relative;
    margin: 0;
    padding: 0;
    outline: $margin-bottom dotted $lowlight-color;
	}
    /* line 24, jquery-sortable.css.sass */
    table tr.placeholder:before
    {
      position: relative;
      content: "";
      width: 0;
      height: 0;
      margin-top: 0px;
      left: -5px;
      top: 0px;
    }
    
div.trash
{
	background-image: url("../img/trash.png");
	background-size: 100px;
	@include height(2,0);
	@include width(2,0);
}

.ui-widget-content {
	border: 1px solid $dark-color;
	background: $light-color /* url(images/ui-bg_inset-soft_10_285c00_1x100.png) */ 50% bottom repeat-x;
	color: $dark-color;
}

.ui-widget-content a {
	color: $dark-color;
}
.ui-widget-header {
	border: 1px solid $dark-color;
	background: $dark-color /* url(images/ui-bg_highlight-soft_33_3a8104_1x100.png) */ 50% 50% repeat-x;
	color: $logo-color;
	font-weight: bold;
}
.ui-widget-header a {
	color: $dark-color;
}

.ui-state-default .ui-accordion-header {
	a {
			color:$dark-color;
			font-weight:normal;
			text-decoration:none;
			&:active  {color:$dark-color;}
			&:hover {
				color:$dark-color;
				text-decoration:underline;
				}
			&:link {color:$dark-color;}
			&:visited {color:$dark-color;}
		}
}

.ui-button {
	radius: 0px;
}

a.anchor
{
	display: block;
	position: relative;
	top: $margin-top*2 + $gutter-width;
	visibility: hidden;
}